* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

body {
    background-color: #022a55;
    color: #fff;
    font-family: "Microsoft JhengHei", "微軟正黑體", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
}

main {
    transition: all .5s ease-out;
    display: flex;
    width: 130vw;
    position: relative;
    top: 0;
    left: 0;
}

main section:first-child {
    width: 100vw;
    background-color: #336484;
    position: relative;
    top: 0;
    left: 0;
}

main section:nth-child(2) {
    margin-top: 30px;
    width: 30vw;
}

#menu-button,
#contact-link {
    pointer-events: all;
    background-color: transparent;
    outline: transparent;
    border: none;
}

#contact-link {
    color: #FFF;
    font-size: 2rem;
    font-weight: 550;
    line-height: 1.5em;
}

#menu-button {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    transition: all 0.2s ease-in-out;
    
}

#menu-button>div {
    width: 10px;
    height: 10px;
    background-color: #FFF;
    margin-bottom: 5px;
    margin-right: 30px;
    transition: all 0.2s ease-in-out;
}

.menu #menu-button>div {
    margin-top: 10px;
    height: 3rem;
    margin-right: 10px;
}

.menu #menu-button {
    margin-top: 0;
}

#menu>a {
    color: #FFF;
    padding: 0 0.5em;
    margin-bottom: 10px;
    font-weight: 550;
    display: inline-block;
    font-size: 2rem;
    background-color: #336484;
    transition: border-right 200ms ease-in-out;
    border-right: #336484 0 solid;
    height: 3rem;
    line-height: 1.5em;
}

#menu>a:hover {
    border-right: #336484 1em solid;
}


.cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: .5;
    background-color: #00000071;
    z-index: 9999;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

a:hover+.cursor-circle {
    background-color: #fff;
}

nav {
    position: fixed;
    width: 100vw;
    z-index: 10;
}

nav img {
    height: 4em;
    filter: invert(100%);
    margin: 30px;
}

.slide {
    height: 100vh;
    position: relative;
}

h2 {
    display: block;
    margin: auto 0;
}

.title h2 div {
    display: inline-block;
}

a {
    text-decoration: none;
}

.stars {
    display: block;
    position: absolute;
    margin-left: -25vw;
    margin-top: -25vh;
    content: '';
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Stars.svg?sanitize=true);
    width: 150vw;
    height: 150vh;
    background-repeat: repeat;
    z-index: 1;
    -webkit-animation: stars-move-in 1000ms 300ms forwards;
    animation: stars-move-in 1000ms 300ms forwards;
}

#header {
    background-color: #000;
    overflow: hidden;

}

.title {

    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

#contact {
    background-color: #FFF;
}

.contact {
    font-size: 3em;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact div {
    opacity: 0;
}

.contact {
    transition: none;
}

.contact div:nth-child(1) {
    transition-delay: 100ms;
}

.contact div:nth-child(2) {
    transition-delay: 200ms;
}

.contact div:nth-child(3) {
    transition-delay: 300ms;
}

.contact div:nth-child(4) {
    transition-delay: 400ms;
}

.contact div:nth-child(5) {
    transition-delay: 500ms;
}

.contact div:nth-child(6) {
    transition-delay: 600ms;
}

.contact div:nth-child(8) {
    transition-delay: 700ms;
}

.contact div:nth-child(9) {
    transition-delay: 800ms;
}

.contact div:nth-child(10) {
    transition-delay: 900ms;
}

.contact div:nth-child(11) {
    transition-delay: 1000ms;
}

.contact div:nth-child(11) {
    transition-delay: 1100ms;
}

.contact div:nth-child(12) {
    transition-delay: 1200ms;
}

.long {
    width: 100%;
}

.contact a {
    color: #000;
    font-size: .4em;
    border-radius: 4px;
    border: #000 2px solid;
    display: inline-block;
    font-weight: 600;
    margin: 16px;
    padding: 5px 10px;
    text-decoration: none;
    transition-duration: 2s;
    opacity: 0;
}

.slide--visible {
    opacity: 1;
    transform: translateY(-50%);
}

/* project */

.project {
    background-color: #f9f9f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 128px 20px 0 20px;
    height: auto;
}

#project {
    color: #000;
    transform: none;
    position: static;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
}

footer {
    width: 90%;
    color: gray;
    display: flex;
    margin: 0 auto;
    padding: 1em;
    border-top: #c4c4c4 1px solid;
    font-size: 0.8em;
}

footer div {
    display: flex;
    align-items: center;
}

footer img {
    display: block;
    filter: brightness(0) saturate(100%) invert(54%) sepia(1%) saturate(1401%) hue-rotate(104deg) brightness(93%) contrast(97%);
}

.social {
    justify-content: flex-end;
    flex-grow: 1;
}

.social img {
    height: 1.5em;
}

.social a {
    color: #808080;
    margin: 0 0.5em;
}

.history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 764px;
    width: 100%;
}

.work {
    background-color: #fff;
    border-radius: 32px;
    color: #242424;
    margin-bottom: 32px;
    padding: 32px 32px 24px;
    width: calc(50% - 16px);
}

h3 {
    font-size: 1.5em;
}

.time {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #6bd490 1px solid;
}

.current,
.work:nth-child(4) {
    width: 100%;
}

.work a {
    display: block;
    margin-top: 24px;
    border-radius: 12px;
    color: #eaf4fe;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 8px;
    padding: 14px 28px;
    text-decoration: none;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    background-color: #000;
}

.work a:hover {
    background-color: #336484;
    color: #eaf4fe;
}

.work> :last-child {
    margin-bottom: 8px;
}

.work:nth-child(2) {
    background-color: #a2f6cf;
    color: #0f270c;
}

.work:nth-child(3) {
    background-color: #aee8fa;
    color: #0a1e31;
}

.work:nth-child(4) {
    background-color: #1b1b1b;
    color: #FFF;
}

.work:nth-child(1) .time {
    border-color: #c4c4c4;
}

.work:nth-child(3) .time {
    border-color: #68bde7;
}

.work:nth-child(4) .time {
    border-color: #484848;
}

.work:nth-child(4) a {
    background-color: #c4c4c4;
    color: #0a0a0a;
}

.work:nth-child(4) a:hover {
    background-color: #fff;
    color: #1b1b1b;
}

.work:nth-child(2) a:hover {
    background-color: #417944;
    color: #ecfeef;
}

.more {
    max-width: 700px;
    width: 100%;
    font-size: 2em;
    color: #000;
    text-align: right;
    margin: 0 auto 16px auto;
}

.more a {
    color: #000;
}

.arrow-right {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.2s ease-out;
}

a:hover .arrow-right {
    transform: translateX(5px);
}

.more a:hover {
    color: #3f3f3f;
}

@media (max-aspect-ratio: 1/1) {
    .work {
        width: 100%;
    }

}

/* animation */
.fadeIn-bottom {
    opacity: 0;
    transform: translateY(50px);
}

.fadeIn-bottom.animated {
    opacity: 1;
    transform: translateY(0);
}

.fadeIn-left {
    opacity: 0;
    transform: translateX(-50px);
}

.animated.fadeIn-left {
    opacity: 1;
    transform: translateX(0);
}

.animated.contact>div {
    opacity: 1;
    transform: translateY(-50);
}

.animated.contact a {
    opacity: 1;
}

.text-cursor {
    margin-left: 0.25em;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    49.999% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}