* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;

    /* outline: greenyellow 1px solid; */
}

body {
    background-color: #022a55;
    color: #fff;
    font-family: "Microsoft JhengHei", "微軟正黑體", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
}

main {
    transition: all .5s ease-out;
    display: flex;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
}

main section:first-child {
    width: 100vw;
    background-color: #000;
    position: relative;
    top: 0;
    left: 0;
}

main section:nth-child(2) {
    margin-top: 30px;
}

#menu {
    width: 30vw;
}

#menu-button,
#contact-link {
    pointer-events: all;
    background-color: transparent;
    outline: transparent;
    border: none;
}

#contact-link {
    color: #FFF;
    font-size: 2rem;
    font-weight: 550;
    line-height: 1.5em;
}

#menu-button {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    transition: all 0.2s ease-in-out;
    z-index: 9999;

}

#menu-button>div {
    width: 10px;
    height: 10px;
    background-color: #FFF;
    margin-bottom: 5px;
    margin-right: 30px;
    transition: all 0.2s ease-in-out;
}

.menu #menu-button>div {
    margin-top: 10px;
    height: 3rem;
    margin-right: 10px;
}

.menu #menu-button {
    margin-top: 0;
}

#menu {
    display: none;
}

#menu>a {
    color: #FFF;
    padding: 0 0.5em;
    margin-bottom: 10px;
    font-weight: 550;
    display: inline-block;
    font-size: 2rem;
    background-color: #336484;
    transition: border-right 200ms ease-in-out;
    border-right: #336484 0 solid;
    height: 3rem;
    line-height: 1.5em;
}

#menu>a:hover {
    border-right: #336484 1em solid;
}


.cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: .5;
    background-color: #00000071;
    z-index: 9999;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

a:hover+.cursor-circle {
    background-color: #fff;
}

nav {
    position: fixed;
    width: 100vw;
    z-index: 10;
}

nav img {
    height: 4em;
    filter: invert(100%);
    margin: 30px;
}

.slide {
    height: 100vh;
    position: relative;
}

h2 {
    display: block;
    text-align: center;
}

.title h2 div {
    display: inline-block;
}

a {
    text-decoration: none;
}

.stars {
    display: block;
    position: absolute;
    margin-left: -25vw;
    margin-top: -25vh;
    content: '';
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Stars.svg?sanitize=true);
    width: 150vw;
    height: 150vh;
    background-repeat: repeat;
    z-index: 1;
    background-attachment: fixed;
    -webkit-animation: stars-move-in 1000ms 300ms forwards;
    animation: stars-move-in 1000ms 300ms forwards;
}

#header {
    overflow: hidden;
}

.title {
    position: absolute;
    top: 50%;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

#digital {
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    height: 120vh;
}

#digital.bg {
    background: linear-gradient(transparent, #000000 20%);
}

#digital>h2 {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: end;
    justify-content: center;
}

#doList {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    height: 70%;
    transform: perspective(800px) rotateX(0deg);
    z-index: 2;
    transition: none;
}

#digital.bg::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 70%;
    background-image: linear-gradient(#000000, #00000000 15%, #00000000 85%, #000000);
    pointer-events: none;
}


.do {
    width: 25%;
    height: 100%;
    background-color: #336484;
    transition: all 0.5s ease;
    flex: 1;
    background-size: cover;
    background-position: center center;
    filter: brightness(.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.5em;
    letter-spacing: .2em;
    position: relative;
    padding-bottom: 5%;
}

.do:hover {
    flex: 1.5;
    filter: brightness(1);
}

#doList .do:nth-child(1) {
    background-image: url(/img/sing.webp);
}

#doList .do:nth-child(4) {
    background-image: url(/img/sparrow.webp);
}

#doList .do:nth-child(3) {
    background-image: url(https://helpx.adobe.com/content/dam/help/en/premiere-pro/using/whats-new/2022-5/Pr_Essentials-workspace.jpg.img.jpg);
}

#doList .do:nth-child(2) {
    background-image: url(/img/coding.webp);
}

#with {
    height: 20vh;
}

#material {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f9f9f9;
    font-size: 3em;
    font-weight: 900;
    text-shadow: -0.0075em 0.0075em 0 #fef2f6, 0.005em 0.005em 0 #f6a5c1, 0.01em 0.01em 0 #f7aac4, 0.015em 0.015em #f7aec7, 0.02em 0.02em 0 #f8b3ca, 0.025em 0.025em 0 #f8b7cd, 0.03em 0.03em 0 #f8bcd0, 0.035em 0.035em 0 #f9c0d3;
}



.line {
    width: 30%;
    height: 2px;
    background-color: #000;
    z-index: 10;
    overflow: hidden;
    position: relative;
    height: 2px;
}

.line.see {
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);

}

.line img {
    width: calc(157.5px * 1.5);
    height: calc(150px * 1.5);
}

.pentagon {
    width: 100%;
    height: 100%;
    position: relative;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.line.see .pentagon {
    opacity: 1;
}

.pentagon>div {
    width: 100%;
    height: 100%;
}

.pentagon>div>div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pentagon>div:nth-child(5) img {
    width: calc(157.5px * 2);
    height: calc(150px * 2);
}

.pentagon>div:nth-child(4) img {
    width: calc(157.5px * 2.5);
    height: calc(150px * 2.5);
}

.pentagon>div:nth-child(3) img {
    width: calc(157.5px * 3);
    height: calc(150px * 3);
}

.pentagon>div:nth-child(2) img {
    width: calc(157.5px * 3.5);
    height: calc(150px * 3.5);
}

.pentagon>div:nth-child(1) img {
    width: calc(157.5px * 4);
    height: calc(150px * 4);
}

.greenTitle {
    color: #00FF00;
}

#effect {
    height: auto;
}

#effect p {
    font-size: 15px;
    text-align: justify;
    font-weight: bold;
    font-family: sans-serif;
    min-height: 100vh;
    max-width: 800px;
    word-spacing: 0px;
    letter-spacing: -1px;
    margin: 0 auto;
    color: transparent;
    background: url(https://s1.ax1x.com/2022/03/30/q20PFH.gif) center/cover;
    background-clip: text;
    filter: grayscale(1) invert(1);
    mix-blend-mode: hard-light;
}

#effect h2 {

    color: #cacaca;
    font-size: 5vw;
}

#explode {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    backface-visibility: hidden;
    font-size: 3em;
}

#explode span {
    display: inline-block;
    text-shadow: 0 0 0 whitesmoke;
}

#explode span:nth-of-type(1) {
    animation-delay: .1s;
}

#explode span:nth-of-type(2) {
    animation-delay: .2s;
}

#explode span:nth-of-type(3) {
    animation-delay: .3s;
}

#explode span:nth-of-type(4) {
    animation-delay: .4s;
}

#explode span:nth-of-type(5) {
    animation-delay: .5s;
}

#explode span:nth-of-type(6) {
    animation-delay: .6s;
}
#advanture{
    background-color: #000;
}
#advanture h2 {
    background-image: url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);
    background-size: 300%;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: #FFFFFF;
    animation: filling 3s ease forwards;
    background-position: center 50%;
    text-align: right;
    width: 300vw;

}

#advanture.animated h2 {
    position: fixed;
    bottom: 0;
    right: 0;
}


#contact {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    font-size: 3em;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact div {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.contact {
    transition: none;
}

.contact div:nth-child(1) {
    transition-delay: 100ms;
}

.contact div:nth-child(2) {
    transition-delay: 200ms;
}

.contact div:nth-child(3) {
    transition-delay: 300ms;
}

.contact div:nth-child(4) {
    transition-delay: 400ms;
}

.contact div:nth-child(5) {
    transition-delay: 500ms;
}

.contact div:nth-child(6) {
    transition-delay: 600ms;
}

.contact div:nth-child(8) {
    transition-delay: 700ms;
}

.contact div:nth-child(9) {
    transition-delay: 800ms;
}

.contact div:nth-child(10) {
    transition-delay: 900ms;
}

.contact div:nth-child(11) {
    transition-delay: 1000ms;
}

.contact div:nth-child(11) {
    transition-delay: 1100ms;
}

.contact div:nth-child(12) {
    transition-delay: 1200ms;
}

.long {
    width: 100%;
}

.contact a {
    transition: opacity 1s ease-out, transform 1s ease-out;
    color: #000;
    font-size: .4em;
    border-radius: 4px;
    border: #000 2px solid;
    display: inline-block;
    font-weight: 600;
    margin: 16px;
    padding: 5px 10px;
    text-decoration: none;
    transition-duration: 2s;
    opacity: 0;
}

.slide--visible {
    opacity: 1;
    transform: translateY(-50%);
}

/* project */

.project {
    background-color: #f9f9f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 128px 20px 0 20px;
    height: auto;
}

#project {
    color: #000;
    transform: none;
    position: static;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
}

footer {
    width: 90%;
    color: gray;
    display: flex;
    margin: 0 auto;
    padding: 1em;
    border-top: #c4c4c4 1px solid;
    font-size: 0.8em;
}

footer div {
    display: flex;
    align-items: center;
}

footer img {
    display: block;
    filter: brightness(0) saturate(100%) invert(54%) sepia(1%) saturate(1401%) hue-rotate(104deg) brightness(93%) contrast(97%);
}

.social {
    justify-content: flex-end;
    flex-grow: 1;
}

.social img {
    height: 1.5em;
}

.social a {
    color: #808080;
    margin: 0 0.5em;
}

.history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 764px;
    width: 100%;
}

.work {
    background-color: #fff;
    border-radius: 32px;
    color: #242424;
    margin-bottom: 32px;
    padding: 32px 32px 24px;
    width: calc(50% - 16px);
}

h3 {
    font-size: 1.5em;
}

.time {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #6bd490 1px solid;
}

.current,
.work:nth-child(4) {
    width: 100%;
}

.work a {
    display: block;
    margin-top: 24px;
    border-radius: 12px;
    color: #eaf4fe;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 8px;
    padding: 14px 28px;
    text-decoration: none;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    background-color: #000;
}

.work a:hover {
    background-color: #336484;
    color: #eaf4fe;
}

.work> :last-child {
    margin-bottom: 8px;
}

.work:nth-child(2) {
    background-color: #a2f6cf;
    color: #0f270c;
}

.work:nth-child(3) {
    background-color: #aee8fa;
    color: #0a1e31;
}

.work:nth-child(4) {
    background-color: #1b1b1b;
    color: #FFF;
}

.work:nth-child(1) .time {
    border-color: #c4c4c4;
}

.work:nth-child(3) .time {
    border-color: #68bde7;
}

.work:nth-child(4) .time {
    border-color: #484848;
}

.work:nth-child(4) a {
    background-color: #c4c4c4;
    color: #0a0a0a;
}

.work:nth-child(4) a:hover {
    background-color: #fff;
    color: #1b1b1b;
}

.work:nth-child(2) a:hover {
    background-color: #417944;
    color: #ecfeef;
}

.more {
    max-width: 700px;
    width: 100%;
    font-size: 2em;
    color: #000;
    text-align: right;
    margin: 0 auto 16px auto;
}

.more a {
    color: #000;
}

.arrow-right {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.2s ease-out;
}

a:hover .arrow-right {
    transform: translateX(5px);
}

.more a:hover {
    color: #3f3f3f;
}

@media (max-aspect-ratio: 1/1) {
    .work {
        width: 100%;
    }

}

/* animation */
.fadeIn-bottom {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fadeIn-bottom.animated {
    opacity: 1;
    transform: translateY(0);
}

.fadeIn-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.animated.fadeIn-left {
    opacity: 1;
    transform: translateX(0);
}

.animated.contact>div {
    opacity: 1;
    transform: translateY(-50);
}

.animated.contact a {
    opacity: 1;
}

.text-cursor {
    margin-left: 0.25em;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    49.999% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


#explode>.animated>span {
    animation: smoky 5s .3s both infinite;
}

#explode>.animated>span:nth-child(even) {
    animation-name: smoky-mirror;
}

@keyframes smoky {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }

    to {
        transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

@keyframes smoky-mirror {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }

    to {
        transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}