body, html { color: black; text-align: center; height: 100%; margin: 0px; padding: 1rem; font-size: 18px; background-image: linear-gradient(120deg, #155799, #159957); box-sizing: border-box; overflow: hidden}
.msg { border-radius: 20px ; display: flex; flex-direction: column; justify-content: space-around; padding: 0.6rem 0px; flex-grow: 2; background: rgb(255, 255, 255); overflow: hidden; text-align: center; animation: bounceInUp; animation-duration: 1s;}

em { font-style: normal; font-weight: bold; }
h1, p{color:#FFF;}
a { color: #FFF; text-decoration: underline;}
a:hover { text-decoration:  none; font-weight: bold;}
button { padding: 5px; display: inline; margin-top: 1rem; color: rgba(255, 255, 255, 0.7); background-color: rgba(255, 255, 255, 0.08); border-color: rgba(255, 255, 255, 0.2); border-style: solid; border-width: 1px; border-radius: 0.3rem; transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
button:hover { color: rgba(255, 255, 255, 0.8); text-decoration: none; background-color: rgba(255, 255, 255, 0.2); border-color: rgba(255, 255, 255, 0.3); }
