---
import Head from "@components/Head.astro";
---

<html lang="zh-Hant">
	<head>
		<Head path="code/liff" title="LINE Flex Message Sender | 毛哥EM的基地" description="LINE Flex message 發送工具。" theme="#FFF" />
		<style is:global>
			body {
				font-family:
					system-ui,
					-apple-system,
					BlinkMacSystemFont,
					"Segoe UI",
					Roboto,
					Oxygen,
					Ubuntu,
					Cantarell,
					"Open Sans",
					"Helvetica Neue",
					sans-serif;
			}

			h1 {
				text-align: center;
			}

			button {
				padding: 4px 12px;
				outline: none;
				border-radius: 3px;
				color: #06c755;
				font-size: 12px;
				line-height: 24px;
				font-weight: 700;
				border: #06c755 1px solid;
				background: #fff;
				cursor: pointer;
			}

			.send {
				background-color: #06c755;
				color: #fff;
				border: none;
			}

			button:hover {
				opacity: 0.8;
			}

			label {
				display: block;
				font-weight: 700;
			}

			input,
			textarea {
				width: 100%;
				padding: 8px;
				margin-block: 5px 16px;
				display: inline-block;
				border: 1px solid #ccc;
				box-sizing: border-box;
			}
		</style>
		<script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
		<script is:inline>
			// VConsole will be exported to `window.VConsole` by default.
			var vConsole = new window.VConsole();
		</script>
	</head>
	<body>
		<h1>LINE Flex Message Sender</h1>
		<label for="alt">Alt</label>
		<input type="text" id="alt" placeholder="Alt" />
		<label for="content">Content</label>
		<textarea id="content" rows="5" placeholder='{
        "type": "bubble"...
}'></textarea>
		<button onclick="sendMessage()" class="send">Send</button>
		<button onclick="to()">Open In Line</button>
		<button onclick="simulator()">Simulator</button>

		<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
		<script is:inline>
			async function sendMessage() {
				const alt = document.getElementById("alt").value;
				let content = document.getElementById("content").value;

				// Initialize LIFF
				await liff.init({ liffId: "1656564267-XlA7y2d2" });

				// Check if LIFF is initialized
				if (liff.isInClient()) {
					// Send text via shareTargetPicker

					// remove space and break row in content and check if ends with }}
					const contentCheck = content.replace(/\s/g, "").replace(/\n/g, "").endsWith("}}");
					if (!contentCheck) {
						alert("Content is not valid. Please copy directly from Flex Message Simulator.");
						return;
					}
					//check if its a vaild json
					try {
						content = JSON.parse(content);
					} catch (e) {
						alert("Content is not valid");
						return;
					}
					await liff.shareTargetPicker([
						{
							type: "flex",
							altText: alt,
							contents: content
						}
					]);
				} else {
					alert("Please open this page in the LINE app to use the shareTargetPicker.");
				}
			}

			//auto pate clipbard content to content when loaded
			window.onload = function () {
				navigator.clipboard.readText().then(clipText => (document.getElementById("content").value = clipText));
			};

			const to = () => {
				liff.openWindow({
					url: "line://app/1656564267-XlA7y2d2",
					external: false
				});
			};

			const simulator = () => {
				liff.openWindow({
					url: "https://developers.line.biz/flex-simulator/",
					external: true
				});
			};
		</script>
	</body>
</html>
