---
import Head from "@components/Head.astro";
---

<html>
    <head>
        <Head path="code/signCheck" title="毛哥EM 檔案簽名檢查 | 毛哥EM的基地" description="毛哥EM 檔案簽名檢查，確保檔案沒有經過竄改。" theme="#292d36"  />
        <style is:global>
            /** @format */

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                background-color: #292d36;
                min-height: 100svh;
                color: #f3f0e9;
                font-family:
                    system-ui,
                    -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    Oxygen,
                    Ubuntu,
                    Cantarell,
                    "Open Sans",
                    "Helvetica Neue",
                    sans-serif;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem;
            }
            main {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            h1 {
                text-align: center;
            }

            p {
                text-align: center;
                margin-top: 20px;
            }

            input {
                display: block;
                margin: 20px auto;
            }

            button {
                display: inline-block;
                margin: 20px 5px;
                padding: 10px 20px;
                background-color: #517b67;
                color: #f3f0e9;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                color: #292d36;
                font-family:
                    system-ui,
                    -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    Oxygen,
                    Ubuntu,
                    Cantarell,
                    "Open Sans",
                    "Helvetica Neue",
                    sans-serif;
            }

            .download {
                background-color: #ab9b81;
            }
            .download:hover {
                background-color: #8f7d63;
            }
            button:hover {
                background-color: #3e5c4a;
            }

            #result {
                text-align: center;
                margin-top: 20px;
            }

            .valid {
                color: #517b67;
            }

            .invalid {
                color: #a33f3f;
            }

            footer {
                color: #4d5361;
            }
        </style>
    </head>
    <body>
        <main>
            <h1>毛哥EM 檔案簽名檢查</h1>
            <p>你可以在此上傳毛哥EM 所提供的文件進行驗證，確保檔案沒有經過竄改。</p>
            <p id="result"></p>
            <input type="file" id="fileInput" />
            <div>
                <button onclick="verifySignature()">檢查</button>
                <button onclick="downloadSign()" class="download">下載簽名</button>
            </div>
        </main>
        <footer>
            <p>
                此網站使用上傳的檔案、網址內的簽名、以及網頁中的公鑰進行簽名驗證，不會將任何資料上傳到伺服器。
                <br />© 2024 毛哥EM
            </p>
        </footer>

        <script is:inline>
            const resultText = document.getElementById("result");
            const publicKeyPem = `-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApiok7/5kVTwwLHocad32
wXMKgbEfFgAx2HfI/d6CdD0WC5OuU4L3qG3S/sCeenoqpOlbiSCFTBdKg7UOpkO9
2qLxoNDj4l3v3W9BnzkuX2sm2z19PgPPOEe5F3Iw3qYsVs9ZLHMD1EfIijnyDPal
1BQ2i0x13WnRzyaf2E9hziPPmDi9fzm/eaiMd4m+rapxWbtgOEFaTUzu4aIvzoQO
P27Ah241DLFO53zkqUyrNAjWSEZoacPCbrWQ06xEnD4dJVvArfPvN04JZUEbSgJO
PsAYdr3NAGtFdaDwcLfeZZ2PmMTkzj3R8ZtwR6JT4GvcF+kUHQ/Dea/6V6RzIw0X
WQIDAQAB
-----END PUBLIC KEY-----`;

            // Function to convert PEM format to ArrayBuffer (binary)
            function pemToArrayBuffer(pem) {
                // Remove the header and footer of the PEM string
                const pemHeader = "-----BEGIN PUBLIC KEY-----";
                const pemFooter = "-----END PUBLIC KEY-----";
                const pemContents = pem.replace(pemHeader, "").replace(pemFooter, "").replace(/\s/g, "");

                // Convert base64 to binary
                const binaryDerString = window.atob(pemContents);
                const binaryDer = new Uint8Array(binaryDerString.length);
                for (let i = 0; i < binaryDerString.length; i++) {
                    binaryDer[i] = binaryDerString.charCodeAt(i);
                }
                return binaryDer.buffer;
            }

            const signatureBase64 = new URLSearchParams(window.location.search).get("sign");
            // check if the signature is provided in the URL
            if (!signatureBase64) {
                resultText.textContent = "此連結無效，請重新點擊毛哥EM提供的連結。";
                resultText.classList = "invalid";
                throw new Error("No signature provided in the URL.");
            }
            // check browser support
            if (!window.crypto || !window.crypto.subtle) {
                resultText.textContent = "你的瀏覽器不支援 Web Cryptography API，請使用最新版的瀏覽器。";
                throw new Error("Web Cryptography API is not supported in this browser.");
            }

            const signature = new Uint8Array(
                atob(signatureBase64)
                    .split("")
                    .map(c => c.charCodeAt(0))
            );

            async function verifySignature() {
                const fileInput = document.getElementById("fileInput");
                const file = fileInput.files[0];
                const fileData = await file.arrayBuffer();

                // Convert PEM to ArrayBuffer
                const publicKeyArrayBuffer = pemToArrayBuffer(publicKeyPem);

                // Import the public key in SPKI format (which is the usual format for RSA public keys)
                const publicKey = await crypto.subtle.importKey("spki", publicKeyArrayBuffer, { name: "RSASSA-PKCS1-v1_5", hash: "SHA-256" }, false, ["verify"]);

                // Verify the signature
                const isValid = await crypto.subtle.verify("RSASSA-PKCS1-v1_5", publicKey, signature, fileData);

                resultText.textContent = isValid ? "簽名有效。" : "簽名無效，請確保點擊的連結正確或是檔案可能已經被竄改。";
                resultText.classList = isValid ? "valid" : "invalid";
            }

            async function downloadSign() {
                const file = new Blob([signature], {
                    type: "application/octet-stream"
                });
                const url = URL.createObjectURL(file);
                const a = document.createElement("a");
                a.href = url;
                a.download = "signature.sign";
                a.click();
                URL.revokeObjectURL(url);
            }
        </script>
    </body>
</html>
