---
import GA from "@components/GA.astro";
import Favicon from "@components/Favicon.astro";
---

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>線上螢幕錄影 | 毛哥EM的基地</title>
        <meta name="description" content="免費線上螢幕錄影工具，只需點按幾下滑鼠，即可擷取螢幕，無需另行安裝軟體，堪稱是最好用的工具。您可以免費使用我們線上螢幕錄製工具，次數無限，更無需支付任何費用！" />
        <meta name="author" content="毛哥EM" />
        <meta name="keywords" content="毛哥EM, 背景, Edit Mr." />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="線上螢幕錄影 | 毛哥EM的基地" />
        <meta property="og:url" content="http://https://elvismao.com/code/sr" />
        <meta property="og:site_name" content="毛哥EM的基地" />
        <meta property="og:description" content="免費線上螢幕錄影工具，只需點按幾下滑鼠，即可擷取螢幕，無需另行安裝軟體，堪稱是最好用的工具。您可以免費使用我們線上螢幕錄製工具，次數無限，更無需支付任何費用！" />
        <meta property="og:locale" content="zh-TW" />
       
        <style>
            /* color from https://colorhunt.co/palette/413c694a47a3709fb0a7c5eb */
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
            }

            body {
                background-color: #413c69;
                color: #a7c5eb;
                text-align: center;
                height: 100svh;
                overflow-x: hidden;
                font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
            }

            a {
                color: #a7c5eb;
            }

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1.5rem;
            }

            button,
            #downloadLink {
                font-size: 1.5rem;
                padding: 1rem 2rem;
                border: none;
                border-radius: 0.5rem;
                background-color: #709fb0;
                color: #fff;
                cursor: pointer;
                margin: 1rem 0;
                cursor: pointer;
                text-decoration: none;
                display: block;
            }

            #downloadLink {
                margin-bottom: 1rem;
            }

            @keyframes pulse {
                0% {
                    box-shadow: 0 0 5px #a7c5eb;
                }

                50% {
                    box-shadow: 0 0 15px #a7c5eb;
                }

                100% {
                    box-shadow: 0 0 5px #a7c5eb;
                }
            }

            button:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }

            video {
                width: 40rem;
                max-width: 90vw;
                border-radius: 0.5rem;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

            main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        </style>
    <Favicon />
<GA />
</head>

    <body>
        <main>
            <h1>線上螢幕錄影</h1>
            <p>免費 極簡 快速</p>
            <button id="recordBtn">開始錄製</button>
            <div id="videoContainer" style="display: none">
                <video id="recordedVideo" controls></video>
                <br />
                <a id="downloadLink" href="#" download>下載影片</a>
            </div>
            <footer><a href="/">毛哥EM</a>製作</footer>
        </main>

        <script is:inline>
            let recorder, stream, videoBlob;

            const recordBtn = document.getElementById("recordBtn");
            const videoContainer = document.getElementById("videoContainer");
            const recordedVideo = document.getElementById("recordedVideo");
            const downloadLink = document.getElementById("downloadLink");

            recordBtn.addEventListener("click", async () => {
                if (recordBtn.textContent === "開始錄製") {
                    stream = await navigator.mediaDevices.getDisplayMedia({ video: true, audio: true });
                    recorder = new MediaRecorder(stream);

                    recorder.addEventListener("dataavailable", event => {
                        videoBlob = new Blob([event.data], { type: "video/webm" });
                        recordedVideo.src = URL.createObjectURL(videoBlob);
                        videoContainer.style.display = "block";
                        downloadLink.href = URL.createObjectURL(videoBlob);
                    });

                    recorder.start();
                    recordBtn.textContent = "停止錄製";
                    recordBtn.style.animation = "pulse 1s infinite";
                } else {
                    recorder.stop();
                    stream.getTracks().forEach(track => track.stop());
                    recordBtn.disabled = true;
                    recordBtn.textContent = "處理中...";

                    recorder.addEventListener("stop", () => {
                        recordBtn.disabled = false;
                        recordBtn.textContent = "開始錄製";
                        recordBtn.style.animation = "";
                    });
                }
            });

            document.querySelectorAll(".button").forEach(function (button) {
                button.addEventListener("mousedown", function (e) {
                    var target = e.target;
                    var rect = target.getBoundingClientRect();
                    var ripple = target.querySelector(".ripple");
                    if (ripple) {
                        ripple.remove();
                    }
                    ripple = document.createElement("span");
                    ripple.className = "ripple";
                    ripple.style.height = ripple.style.width = Math.max(rect.width, rect.height) + "px";
                    target.appendChild(ripple);
                    var top = e.pageY - rect.top - ripple.offsetHeight / 2 - document.body.scrollTop;
                    var left = e.pageX - rect.left - ripple.offsetWidth / 2 - document.body.scrollLeft;
                    ripple.style.top = top + "px";
                    ripple.style.left = left + "px";
                    return false;
                });
            });
        </script>
    </body>
</html>
