---
import Head from "@components/Head.astro";
---

<head>
    <Head path="code/weekly" title="本週旌旗青年週報|毛哥EM的基地" description="輕鬆下載旌旗青年週報 PDF 檔" theme="#00adb5" favicon={false} />
</head>
<body>
    <h1 id="link"></h1>
    <script type="text/javascript">
        //add day
        function addDays(days) {
            Today.setDate(Today.getDate() + days);
            var Month = Today.getMonth() + 1;
            if (Month < 10) {
                Month = "" + 0 + Month;
            }
            var Day = Today.getDate();
            if (Day < 10) {
                Day = "" + 0 + Day;
            }
            var link = "https://www.bannerch.org/images/media/weekly/2023/weekly-" + Today.getFullYear() + Month + Day + ".pdf";
            return link;
        }
        Today = new Date();
        var SatThis = addDays(6 - Today.getDay());
        document.getElementById("link").innerHTML = "跳轉中...";
        document.location.href = SatThis;
    </script>
</body>
