---
import Nav from "@components/Nav.astro";
import Head from "@components/Head.astro";
import "@assets/intro/base.css";
import "@assets/intro/about.css";
import Footer from "@components/Footer.astro";
---
import Head from "@components/Head.astro";
---   ---

<html lang="zh-Hant">
    <head>
        
        <meta id="ascii" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
        <title>About - Elvis Mao</title>
        <meta name="theme-color" content="#333" />
        <meta name="og:title" content="About - Elvis Mao" />
        <meta name="og:url" content="https://elvismao.com/about" />
        <meta property="og:image" content="/src/assets/intro/sitcon.jpg" />
        <meta
            name="og:description"
            content="Elvis Dragon Mao (also known as Elvis Mao, 毛哥EM) (born May 12, 2007, in Taipei, Taiwan) is a Taiwanese full stack developer, digital creator, and student. Renowned for his expertise in web development, EM has earned recognition in both technical and creative domains. He is actively affiliated with organizations such as SITCON, COSCUP, and SCAICT and has received accolades including the 2024 Taichung City Outstanding Youth award and an Honorable Mention from Awwwards. As the founder of emtech.cc, EM champions innovative digital solutions and advocates for open-source initiatives."
        />
        <meta
            name="description"
            content="Elvis Dragon Mao (also known as Elvis Mao, 毛哥EM) (born May 12, 2007, in Taipei, Taiwan) is a Taiwanese full stack developer, digital creator, and student. Renowned for his expertise in web development, EM has earned recognition in both technical and creative domains. He is actively affiliated with organizations such as SITCON, COSCUP, and SCAICT and has received accolades including the 2024 Taichung City Outstanding Youth award and an Honorable Mention from Awwwards. As the founder of emtech.cc, EM champions innovative digital solutions and advocates for open-source initiatives."
        />
        <link rel="alternate" hreflang="en" href="https://elvismao.com/en/about/" />
        <link rel="alternate" hreflang="zh-Hant" href="https://elvismao.com/zh-hant/about/" />
        <link rel="alternate" hreflang="x-default" href="https://elvismao.com/en/about/" />

        <Head />
    </head>

    <body style="background-color: #000">
        <Nav />
        <main>
            <div class="top">
                <div class="largeName aos">Elvis Dragon Mao</div>
                <h2 class="aos">AKA 毛哥EM, EM, EDM</h2>
                <p class="aos">A digital creator with a passion for design, animation, interaction, and problem-solving.</p>
                <h2>Skills</h2>
                <picture>
                    <source srcset="/src/assets/intro/head.webp" />
                    <img src="/src/assets/intro/avatar.png" alt="Portrait photo of Elvis Mao" class="em" /></picture
                >
            </div>
            <div class="em"></div>
            <div class="skill">
                <div>
                    <h3>I do</h3>
                    <ol>
                        <li>Homework <span>(sometimes)</span></li>
                        <li>Full Stack Development</li>
                        <li>Web Security</li>
                        <li>DevOps</li>
                        <li>UI / UX Design</li>
                        <li>Digital Illustration</li>
                        <li>Music Production</li>
                        <li>Film Editing</li>
                    </ol>
                </div>
                <div>
                    <h3>Languages & Libraries</h3>
                    <ol>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript / TypeScript</li>
                        <li>React / Vue</li>
                        <li>Node.js</li>
                        <li>Python</li>
                        <li>C++ / C#</li>
                    </ol>
                </div>
                <div>
                    <h3>Applications</h3>
                    <ol>
                        <li>Nginx</li>
                        <li>Git</li>
                        <li>MySQL / MariaDB</li>
                        <li>Ps / Ai / Id / Ae</li>
                        <li>Wordpress, Wix</li>
                        <li>Figma</li>
                    </ol>
                </div>
            </div>
            <h2>Education</h2>
            <div class="education">
                <div class="school aos">
                    <div>
                        <h3>Wagor Bilingual Elementary School</h3>
                        <p>2013 - 2019</p>
                    </div>
                </div>
                <div class="school aos">
                    <div>
                        <h3>St. Viator Catholic High School</h3>
                        <p>2019 - 2022</p>
                    </div>
                </div>
                <div class="school aos">
                    <div>
                        <h3>Shi-Yuan Senior High School</h3>
                        <p>2022 - 2025</p>
                    </div>
                </div>
                <div class="school aos">
                    <div>
                        <h3>National Yang Ming Chiao Tung University CS</h3>
                        <p><span>2025 - 2029</span></p>
                    </div>
                </div>
            </div>
            <h2>Awards</h2>
            <h3>2025</h3>
            <ul>
                <li>2025 National High School English Public Forum Debate - Winning Team, Honorable Mentioned Debater</li>
            </ul>
            <h3>2024</h3>
            <ul>
                <li>Awwwards - Honorable Mention</li>
                <li>2024 SITCON Hackathon - Best Technical Award</li>
                <li>2024 Taichung City Outstanding Youth</li>
                <li>2024 iThome Ironman Series - "Watch Closely, GitHub Actions – I'll Only Demonstrate Once."</li>
                <li>CSSREELS Featured</li>
                <li>CSS Light - Featured of the Day</li>
                <li>TopDesignKing - King of the Day</li>
                <li>Top CSS Gallery</li>
                <li>Web Guru Award - Guru of the Day</li>
                <li>2024 National High School English Public Forum Debate - Judge's Choice Awards, Honorable Mentioned Debater</li>
                <li>2024 Yangwang Cup National Science HomeRun Competition - Bronze Medal</li>
            </ul>
            <h3>~2023</h3>
            <ul>
                <li>2023 Taichung Information Network Application Competition - English Typing, Champion</li>
                <li>2023 Taichung Information Network Application Competition - Project, Champion</li>
                <li>2023 iThome Ironman Series - "Cool Without Libraries - Fun with CSS & JS Effects"</li>
                <li>2020 Taichung Information Network Application Competition - Computer Graphics, Champion</li>
                <li>2020 Taichung Information Network Application Competition - Animation Design, Champion</li>
                <li>2019 Taichung Information Network Application Competition - Programming, First Place</li>
            </ul>
            <div class="fridge-container">
                <div class="fridge">
                    <div class="fridge-list">
                        <a href="https://www.awwwards.com/sites/elvis-mao" target="_blank"> <img src="/src/assets/intro/awwwards.svg" alt="awwwawds badge" /></a>
                        <a href="https://ithelp.ithome.com.tw/users/20139821/ironman/6133" target="_blank"> <img src="https://d1dwq032kyr03c.cloudfront.net/images/ironman_sticker/15/web.png" alt="" /></a>
                        <a href="https://ithelp.ithome.com.tw/users/20139821/ironman/7503" target="_blank"> <img src="https://d1dwq032kyr03c.cloudfront.net/images/ironman_sticker/16/devops.png" alt="" /></a>
                        <img src="/src/assets/intro/Featured Badge.svg" alt="" />
                        <a href="https://www.csslight.com/website/63649/Scaict" target="_blank">
                            <img src="http://www.csslight.com/ribbons/csslight-featured-ribbon-left.png" />
                        </a>
                        <a href="http://webguruawards.com/awards/GOTD/webguruawards_white_bg_color.jpg" target="_blank">
                            <img src="https://webguruawards.com/awards/GOTD/img_guru_of_the_day_right.png" />
                        </a>
                        <a href="https://www.topcssgallery.com/gallery/scaict/" target="_blank">
                            <img src="https://scaict.org/src/img/TCG.png" />
                        </a>
                        <a href="https://topdesignking.com/website/1502/scaict" target="_blank"><img src="https://topdesignking.com/public/images/ribbon-neon.png" alt="TopDesignKing" /></a>
                    </div>
                </div>
            </div>
            <h2>Experience</h2>
            <ul>
                <li>9 years of web development experience</li>
                <li>
                    <a href="https://www.awwwards.com/jury-member/elvismao">Awwwards - Young Jury</a>
                </li>
                <li>
                    <a href="https://bamboofox.org/">NCTU BambooFox</a> - Security Team members
                </li>
                <li>2025 SITCON Camp IT Group Leader</li>
                <li>
                    <a href="https://scaict.org/">SCAICT</a> - IT Group Leader
                    <span>(Retired)</span>
                </li>
                <li>
                    <a href="https://sytv.scaict.org/">SYSV</a> - Leader
                    <span>(Retired)</span>
                </li>
                <li>Musixmatch Curator<span>(Retired)</span></li>
                <li>Musixmatch Translation Curator</li>
            </ul>
            <h2>Certificate</h2>
            <ul>
                <li>Amateur Radio Operator's Certificate (Call sign: BM4LTC)</li>
                <li>TOEIC - Golden Certificate</li>
                <li>LINE Official Account Expert Certification</li>
            </ul>
            <h2 id="speaker">Speaker <span>(bluh bluh bluh)</span></h2>
            <div class="speaker">
                <div>
                    <h3>2025</h3>
                    <ul>
                        <li>
                            <a href="https://sitcon.org/2025/agenda/aa71e5/">SITCON 2025 - Frontend Effect: Middle School Math</a>
                        </li>
                    </ul>
                    <h3>2024</h3>
                    <ul>
                        <li>
                            <a href="https://coscup.org/">COSCUP 2024 - The Path to Freedom: The Open Source Journey of SCAICT</a>
                        </li>
                        <li>
                            <a href="https://sitcon.org/2024/"> SITCON 2024 - From Shortcuts to Terminal: The Programming Journey on iPhone</a>
                        </li>
                        <li>
                            <a href="https://ais3.org/">AIS3 Club - Community Management</a>
                        </li>

                        <li>
                            <a href="https://www.k12ea.gov.tw/En/">K12EA, Ministry of Education</a>
                            - Python Camp
                        </li>
                        <li>SCAICT Junior High Course - Line Bot</li>
                        <li>
                            <a href="https://www.k12ea.gov.tw/En/">K12EA, Ministry of Education</a>
                            - Having Fun with Arduino Workshop
                        </li>
                        <li>
                            <a href="https://wc.scaict.org/">SCAICT United Winter Camp</a>
                            - Art Director, Phishing Website Course Instructor
                        </li>
                    </ul>
                    <h3>2023</h3>
                    <ul>
                        <li>Apple Stright A - Sharing of digital note-taking skills</li>
                        <li>SCAICT United Orientation - Web Scraping Instructor</li>
                        <li>SCAICT October Theme Course - Web Design Instructor</li>
                        <li>Shi-Yuan Senior High School - Web Design Microcourse</li>
                        <li>Taichung Youth Program - English Debate Station Host</li>
                        <li>
                            <a href="https://www.k12ea.gov.tw/En/">K12EA, Ministry of Education</a>
                            - Python Web Scraping Workshop
                        </li>
                        <li>
                            <a href="https://www.k12ea.gov.tw/En/">K12EA, Ministry of Education</a>
                            - Web Design Workshop
                        </li>
                    </ul>
                    <h3>2022</h3>
                    <ul>
                        <li>Stella Matutina Girls' High School - Playing with CSS: Creating Stunning Animations</li>
                        <li>SYTV - C Language Programming Camp Advanced Course</li>
                        <li>SYTV Guest Speaker - IoT Applications</li>
                    </ul>
                </div>

                <div class="emSitcon">
                    <img src="/src/assets/intro/sitcon.jpg" alt="Elvis Mao presenting a talk about iPhone programming at SITCON 2024 conference" />
                </div>
            </div>
            <div class="github">
                <img src="https://github-readme-stats.vercel.app/api?username=Edit-Mr&show_icons=true&theme=dark" alt="" /><img src="https://github-readme-stats.vercel.app/api/top-langs/?username=Edit-Mr&layout=compact&theme=dark" alt="" />
            </div>
        </main>
        <Footer />
        <script src="@assets/intro/style.js"></script>
        <script is:inline>
            const fridgeList = document.querySelector(".fridge-list");
            const fridgeListWidth = fridgeList.offsetWidth;
            const repeat = Math.ceil(window.innerWidth / fridgeListWidth) * 2;
            fridgeList.innerHTML = fridgeList.innerHTML.repeat(repeat);
            fridgeList.style.animationDuration = window.innerWidth / 20 + "s";
        </script>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "ProfilePage",
                "image": "https://emtech.cc/static/img/EMprofile.png",
                "url": "https://elvismao.com/",
                "logo": "https://emtech.cc/static/img/EMprofile.png",
                "name": "Elvis Mao",
                "alternateName": ["毛宥鈞", "毛哥EM", "EM"],
                "description": "Elvis Dragon Mao (also known as Elvis Mao, 毛哥EM) (born May 12, 2007, in Taipei, Taiwan) is a Taiwanese full stack developer, digital creator, and student. Renowned for his expertise in web development, EM has earned recognition in both technical and creative domains. He is actively affiliated with organizations such as SITCON, COSCUP, and SCAICT and has received accolades including the 2024 Taichung City Outstanding Youth award and an Honorable Mention from Awwwards. As the founder of emtech.cc, EM champions innovative digital solutions and advocates for open-source initiatives.",
                "email": "info@elvismao.com",
                "contactPoint": {
                    "@type": "ContactPoint",
                    "email": "info@elvismao.com"
                },
                "foundingDate": "2021-06-04",
                "sameAs": ["https://www.instagram.com/emtech.cc/", "https://emtech.cc"],
                "mainEntity": {
                    "@context": "https://schema.org",
                    "@type": "Person",
                    "name": "Elvis Mao",
                    "givenName": "Elvis",
                    "familyName": "Mao",
                    "additionalName": "Dragon",
                    "alternateName": ["毛宥鈞", "毛哥EM", "Elvis Dragon Mao", "EM"],
                    "birthDate": "2007-05-12",
                    "birthPlace": "Taipei, Taiwan",
                    "brand": "毛哥EM",
                    "gender": "Male",
                    "nationality": "Taiwan",
                    "email": "info@elvismao.com",
                    "url": "https://elvismao.com/",
                    "image": "https://elvismao.com/img/avatar.png",
                    "jobTitle": "Full Stack Developer",
                    "worksFor": {
                        "@type": "Organization",
                        "name": "emtech"
                    },
                    "alumniOf": [
                        {
                            "@type": "EducationalOrganization",
                            "name": "National Yang Ming Chiao Tung University"
                        },
                        {
                            "@type": "EducationalOrganization",
                            "name": "Shi-Yuan Senior High School"
                        },
                        {
                            "@type": "EducationalOrganization",
                            "name": "St. Viator Catholic High School"
                        },
                        {
                            "@type": "EducationalOrganization",
                            "name": "Wagor Bilingual Elementary School"
                        }
                    ],
                    "affiliation": [
                        {
                            "@type": "Organization",
                            "name": "SCAICT 中部高中電資社團聯合會議"
                        },
                        {
                            "@type": "Organization",
                            "name": "SYTV 西菀高中資訊志工隊"
                        }
                    ],
                    "award": ["Awwwards - Honorable Mention", "2024 Taichung City Outstanding Youth"],
                    "knowsLanguage": ["zh-Hant", "en", "zh-Hans"],
                    "knowsAbout": ["Full Stack Development", "Cybersecurity", "Web Design", "Web Development"],
                    "skills": ["Full Stack Development", "Web Design", "Cybersecurity"],
                    "memberOf": [
                        {
                            "@type": "Organization",
                            "name": "EM's Base"
                        },
                        {
                            "@type": "Organization",
                            "name": "SITCON"
                        },
                        {
                            "@type": "Organization",
                            "name": "SCAICT"
                        }
                    ],
                    "honorificSuffix": "MVP",
                    "sameAs": ["https://github.com/Edit-Mr", "https://twitter.com/ElvisDragonMao", "https://linkedin.com/in/elvismao", "https://www.instagram.com/elvisdragonmao/"]
                }
            }
        </script>
    </body>
</html>
