---

import "/src/assets/code/frog.css";
import Head from "@components/Head.astro";
---

<head>
    <title>主選單 - 大眼蛙教練點名系統</title>
    <meta name="description" content="快速紀錄出缺席" />
    <meta name="keywords" content="大眼蛙教練, Edit Mr., 毛哥EM" />
    <link href="check-list.png" rel="icon" type="image/x-icon" />
    <meta name="theme-color" content="#00BFFF" />
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <Head />
</head>
<body>
    <main>
        <h1>大眼蛙教練點名系統</h1>
        <p>主選單</p>
        <button onclick="window.location='/code/frog/check-in';">報到</button>
        <button onclick="window.location='/code/frog/search';">查詢紀錄</button>
        <button onclick="window.location='/code/frog/sign-up';">新增學生</button>
        <p><a href="/">毛哥EM</a>製作</p>
    </main>
</body>
