---
import "@assets/code/frog.css";
import Head from "@components/Head.astro";
---

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <Head path="code/frog/search/" title="主選單 - 大眼蛙教練點名系統" description="快速紀錄出缺席" theme="#00BFFF" />
</head>
<body>
    <main>
        <h1><a href="/code/frog">大眼蛙教練點名系統</a></h1>
        <p>紀錄查詢</p>
        <input type="text" id="name" />
        <button type="button" id="send">查詢</button>
        <table class="table table-striped" style="display: none">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>報到時間</th>
                    <th>剩下課堂</th>
                </tr>
            </thead>
            <tbody id="dataView"></tbody>
        </table>
        <p>
            <a href="/">毛哥EM</a>製作<br />
            送出後請稍等數秒
        </p>
    </main>
    <script is:inline>
        $(function () {
            $("#send").click(function (e) {
                var status = true;
                var name = $("#name").val();
                $("input").focus(function () {
                    $(this).css("border", "");
                });
                if (name == "") {
                    $("#name").css("border", "1px solid #ff0000");
                } else {
                    var data = {
                        name: name
                    };
                    $.ajax({
                        type: "post",
                        url: "https://script.google.com/macros/s/AKfycbw3SOF6xE1jJpO9sOtn69rWH5tQR2AzfZ0pPlSoQ0UWioa3JhzYSU7V6rCyGjtGAj2B6A/exec",
                        data: data,
                        dataType: "JSON",
                        success: function (response) {
                            var content = "";
                            response.forEach(element => {
                                var [name, time, remain] = element.data;
                                var index = element.index;
                                content += `<tr>
                <td>${name}</td>
                <td>${new Date(time)}</td>
                <td>${remain}</td>
              </tr>`;
                            });
                            if (content) {
                                document.getElementsByClassName("table-striped")[0].style.display = "table";
                            } else {
                                alert("查無資料");
                            }
                            var dataView = document.getElementById("dataView");
                            dataView.innerHTML = content;
                            $("#name").val("");
                        }
                    });
                }
            });
        });
    </script>
</body>
