---
import "@assets/assets/code/frog.css";
import Head from "@components/Head.astro";
---

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <Head path="code/frog/sign-up/" title="新增學生 - 大眼蛙教練點名系統" description="快速紀錄出缺席" theme="#00BFFF" />
</head>
<body>
    <main>
        <h1><a href="/code/frog">大眼蛙教練點名系統</a></h1>
        <p>新增學生</p>
        <input type="text" class="form-control" id="name" />
        <button type="button" id="sendOrder">新增</button>
        <p>
            <a href="/">毛哥EM</a>製作<br />
            送出後請稍等數秒 勿重複新增
        </p>
    </main>
    <script is:inline>
        $(function () {
            // 監聽 按鈕點擊
            $("#sendOrder").click(function (e) {
                // 姓名
                var name = $("#name").val();
                $("input").focus(function () {
                    $(this).css("border", "");
                });
                // 擋住不填資料
                if (name == "") {
                    $("#name").css("border", "1px solid #ff0000");
                } else {
                    var name = name.replace(" ", "");
                    var data = {
                        name: name
                    };
                    $.ajax({
                        // 這邊用get type
                        type: "get",
                        // api url - google appscript 產出的 url
                        url: "https://script.google.com/macros/s/AKfycbyNU2bnrNC1vecUKgWB4lx1D8CePpjQ2MYcnELUtrWSbbqJ-rQ-JvKbngQhZ3NrjXyR/exec",
                        // 剛剛整理好的資料帶入
                        data: data,
                        // 資料格式是JSON
                        dataType: "JSON",
                        // 成功送出 會回頭觸發下面這塊
                        success: function (response) {
                            console.log(response);
                            alert("新增成功!!");
                        }
                    });
                }
            });
        });
    </script>
</body>
