---
import GA from "@components/GA.astro";
import Favicon from "@components/Favicon.astro";
---

<!doctype html>
<html lang="zh-tw">
    <head>
        <meta charset="UTF-8" />
        <title>303電腦課留言系統</title>
        <meta name="description" content="303電腦課留言系統" />
        <meta name="keywords" content="EM's Base, Edit Mr." />
        <meta name="author" content="Elvis Mao" />
        <link href="chat.png" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" media="screen" />
        <link rel="stylesheet" href="style.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <Favicon />
        <GA />
    </head>

    <body>
        <div class="header">
            <h1 class="project-name">303電腦課留言系統</h1>
            <h2 class="project-tagline"><a href="../../" target="_blank">毛哥EM</a>製作<br />新訊息在上方</h2>
            <form action="https://script.google.com/macros/s/AKfycbyBMmqH6mir6KV1Sklt3jxr4sPVsubVjYjToGZvEfdeuw9KaZgZPtpFCc3I2vCzPLFP/exec" method="post">
                <input type="text" placeholder="顯示名稱" id="name" autofocus />
                <input type="text" placeholder="訊息" id="msg" />
                <button type="button" id="sendOrder" class="btn">發送</button><br />
                <input type="checkbox" id="bubble" />重要標示 | 名稱顏色 <input type="color" value="#1E6BB8" id="color" />
            </form>
            <h1>實用連結</h1>
            <button type="button" class="btn" onclick="window.open('https://shellshock.io/')">Shell Shockers</button>
            <button type="button" class="btn" onclick="window.open('https://smashkarts.io/')">Smash Karts</button>
            <button type="button" class="btn" onclick="window.open('https://www.roblox.com/')">Roblox</button>
        </div>
        <center>
            <div class="dialogue-wrap">
                <div class="dialogue-head">
                    <span class="dialogue-title"></span>
                    <div class="dialogue-head-window-optionsa"></div>
                    <div class="dialogue-head-window-optionsb"></div>
                    <div class="dialogue-head-window-optionsc"></div>
                </div>
                <div class="NavHead"></div>
                <div class="NavContent">
                    <div class="bubble-wrap">
                        <div class="bubble-text-time">
                            <div>發送後請稍等數秒<br />每2秒更新訊息</div>
                        </div>
                        <div class="stuff"></div>
                    </div>
                </div>
            </div>
        </center>
        <script is:inline>
            var t1 = window.setInterval(hello, 2000);
            function hello() {
                let requestURL = "https://script.google.com/macros/s/AKfycbyBMmqH6mir6KV1Sklt3jxr4sPVsubVjYjToGZvEfdeuw9KaZgZPtpFCc3I2vCzPLFP/exec";
                let request = new XMLHttpRequest();
                request.open("GET", requestURL);
                request.responseType = "text";
                request.send();
                request.onload = function () {
                    console.log("re");
                    $(".stuff").html(request.response);
                    window.scrollTo(0, document.querySelector(".bubble-wrap").scrollHeight);
                };
            }
            $(function () {
                // 監聽 按鈕點擊
                $("#sendOrder").click(function (e) {
                    // 姓名
                    var name = $("#name").val();
                    $("input").focus(function () {
                        $(this).css("border", "");
                    });
                    var msg = $("#msg").val();
                    // 擋住不填資料
                    if (name == "") {
                        $("#name").css("border", "1px solid #ff0000");
                    } else if (msg == "") {
                        $("#msg").css("border", "1px solid #ff0000");
                    } else {
                        var data = {
                            name: name,
                            msg: msg,
                            color: $("#color").val(),
                            bubble: $("#bubble").prop("checked")
                        };
                        $.ajax({
                            // 這邊用get type
                            type: "post",
                            // api url - google appscript 產出的 url
                            url: "https://script.google.com/macros/s/AKfycbyBMmqH6mir6KV1Sklt3jxr4sPVsubVjYjToGZvEfdeuw9KaZgZPtpFCc3I2vCzPLFP/exec",
                            // 剛剛整理好的資料帶入
                            data: data,
                            // 資料格式是JSON
                            dataType: "JSON",
                            // 成功送出 會回頭觸發下面這塊
                            success: function (response) {
                                console.log(response);
                                alert("成功!!");
                            }
                        });
                    }
                });
            });
        </script>
        <style>
            body,
            html {
                overflow: hidden;
                color: #fff;
                text-align: center;
                height: 100%;
                margin: 0px;
                padding: 0px;
                font-size: 18px;
                background-image: linear-gradient(120deg, #155799, #159957);
                box-sizing: border-box;
            }
            .header {
                padding: 20px;
                position: absolute;
                left: 0px;
                height: 100%;
                width: 50%;
                margin: 0px;
            }

            h1,
            p {
                color: #fff;
            }
            a {
                color: #fff;
                text-decoration: underline;
            }
            a:hover {
                text-decoration: none;
                font-weight: bold;
            }
            btn {
                padding: 2.5px;
                display: inline;
                margin-top: 1rem;
                color: rgba(255, 255, 255, 0.7);
                background-color: rgba(255, 255, 255, 0.08);
                border-color: rgba(255, 255, 255, 0.2);
                border-style: solid;
                border-width: 1px;
                border-radius: 0.3rem;
                transition:
                    color 0.2s,
                    background-color 0.2s,
                    border-color 0.2s;
            }
            btn:hover {
                color: rgba(255, 255, 255, 0.8);
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0.2);
                border-color: rgba(255, 255, 255, 0.3);
            }
            .dialogue-wrap {
                overflow: hidden;
                text-align: left;
                animation: bounceInUp;
                animation-duration: 1s;
                position: absolute;
                right: 0px;
                height: 90%;
                width: 50%;
                margin: 2em;
                padding: 0;
                border: 0.7px solid rgba(0, 0, 0, 0.3);
                background-color: rgba(255, 255, 255, 1);
                box-shadow: 0 14px 18px rgba(0, 0, 0, 0.52);
                border-radius: 0.3em;
            }
            .dialogue-title {
                position: relative;
                font-size: 0.8em;
                line-height: 1.4em;
                cursor: default;
            }
            .dialogue-head {
                position: relative;
                height: 1.4em;
                border-bottom: 0.7px solid rgba(187, 187, 187, 1);
                text-align: center;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.06));
                color: rgba(0, 0, 0, 0.8);
            }
            .dialogue-head-window-optionsa {
                position: absolute;
                top: 0.4em;
                left: 0.6em;
                height: 0.6em;
                width: 0.6em;
                border-radius: 100%;
                float: left;
                background: rgba(255, 88, 77, 1);
                border: 0.5px solid rgba(235, 78, 67, 1);
            }
            .dialogue-head-window-optionsb {
                position: absolute;
                top: 0.4em;
                left: 1.67em;
                height: 0.6em;
                width: 0.6em;
                border-radius: 100%;
                float: left;
                background: rgba(255, 197, 40, 1);
                border: 0.5px solid rgba(235, 177, 34, 1);
            }
            .dialogue-head-window-optionsc {
                position: absolute;
                top: 0.4em;
                left: 2.74em;
                height: 0.6em;
                width: 0.6em;
                border-radius: 100%;
                float: left;
                background: rgba(82, 210, 75, 1);
                border: 0.5px solid rgba(70, 200, 65, 1);
            }
            .NavHead {
                position: absolute;
                top: 0;
                left: 0;
                height: 1.4em;
                width: 100%;
                border-bottom: 0.7px solid #000;
                opacity: 0;
            }
            .bubble-wrap {
                height: 100%;
                position: absolute;
                width: 100%;
                padding: 10px;
                overflow-y: scroll;
            }
            .bubble-text-time {
                clear: both;
                text-align: center;
                font-size: 0.6em;
                color: rgba(0, 0, 0, 0.5);
                margin: 0.5em 0;
            }
            .r,
            .l {
                float: left;
                clear: both;
                display: block;
                border-radius: 1em;
                padding: 0 0.5em;
                margin-left: 0.35em;
                margin-bottom: 0.2em;
                overflow-wrap: break-word;
            }
            .r {
                color: rgba(255, 255, 255, 1);
                background: linear-gradient(to top, rgba(66, 160, 255, 1), rgba(66, 160, 255, 0.8));
            }
            .l {
                color: rgba(0, 0, 0, 1);
                background: rgba(0, 0, 0, 0.1);
            }
            .t {
                float: left;
                clear: both;
                font-size: 0.6em;
                color: rgba(0, 0, 0, 0.5);
                margin-right: 0.4em;
                margin-bottom: 0.2em;
                margin-top: -0.1em;
            }
            input {
                padding: 5px;
                display: inline;
                margin-top: 1rem;
                color: black;
                background-color: white;
                border-color: rgba(255, 255, 255, 0.2);
                border-style: solid;
                border-width: 1px;
                border-radius: 0.3rem;
                transition:
                    color 0.2s,
                    background-color 0.2s,
                    border-color 0.2s;
            }
        </style>
    </body>
</html>
