---
import envelope from "@assets/img/icon/envelope-regular.svg";
import github from "@assets/img/icon/github.svg";
import telegram from "@assets/img/icon/telegram.svg";
import instagram from "@assets/img/icon/instagram.svg";
---

<footer>
    <div class="social-links">
        <a href="mailto:info@elvismao.com"><img src={envelope.src} alt="Mail" /></a>
        <a href="https://github.com/Edit-Mr" target="_blank"><img src={github.src} alt="Mail" /></a>
        <a href="https://t.me/elvisdragonmao" target="_blank"><img src={telegram.src} alt="Telegram" /></a>
        <a href="https://www.instagram.com/elvisdragonmao/" target="_blank"><img src={instagram.src} alt="Instagram" /></a>
    </div>
    <div>© 2025 by Elvis Mao</div>
</footer>

<style is:global>
    footer {
        font-size: 1.3rem;
        color: #5f5f5f;
        text-align: right;
    }

    .social-links {
        margin-top: 2rem;
    }
    .social-links img {
        height: 1.5em;
        display: inline-block;
        filter: invert(1);
        transition: 0.3s;
    }

    .social-links a {
        margin: 0 0.8em;
    }

    .social-links a:hover img {
        scale: 1.1;
    }
</style>
