---
const { blur } = Astro.props;
import * as i18n from "src/i18n";
const l = i18n.l(Astro.url);
const t = i18n.t(i18n.local(Astro.url.pathname), {
    projects: {
        en: "Projects",
        "zh-Hant": "專案",
        "zh-Hans": "项目"
    },
    about: {
        en: "About",
        "zh-Hant": "關於",
        "zh-Hans": "关于"
    },
    blog: {
        en: "Blog",
        "zh-Hant": "部落格",
        "zh-Hans": "博客"
    }
});
---

<nav>
    <div class="left">
        <div class="nav-title"><a href={l("/")}>Elvis Mao</a></div>
    </div>
    <img src="/logo.svg" alt="" />
    <div class="right">
        <input type="checkbox" name="" id="burger-togggle" />
        <label for="burger-togggle" class="burger-label"><div class="burger"></div></label>
        <div class="menu">
            <a href={l("/code/")}><span>{t.projects}</span></a>
            <a href={l("/about/")}><span>{t.about}</span></a>
            <a href="https://emtech.cc" target="_blank"><span>{t.blog}</span></a>
            <div class="lang-dropdown">
                <button id="toggleLang" class="dropbtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-languages-icon lucide-languages"><path d="m5 8 6 6"></path><path d="m4 14 6-6 2-3"></path><path d="M2 5h12"></path><path d="M7 2h1"></path><path d="m22 22-5-10-5 10"></path><path d="M14 18h6"></path></svg>
                </button>
                <div class="dropdown-content">
                    <a href={l("", "en")}>English</a>
                    <a href={l("", "zh-Hant")}>繁體中文</a>
                    <a href={l("", "zh-Hans")}>简体中文</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<style>
    .lang-dropdown {
        position: relative;
        display: inline-block;
        margin-left: 1.5em;
    }

    .dropbtn {
        background: none;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1.2em;
        padding: 0;
        vertical-align: middle;
    }
    .dropbtn svg {
        width: 1.3em;
    }

    .dropdown-content {
        position: absolute;
        background-color: rgba(42, 42, 42, 0.8);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 0;
        top: 2rem;
        border-radius: 4px;
        opacity: 0;
        transform: translateY(-2px);
        transition:
            opacity 0.3s ease-out,
            transform 0.3s ease-out;
    }

    .lang-dropdown .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        margin: 0;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .right .dropdown-content a::before {
        content: "";
    }

    .lang-dropdown:hover .dropdown-content,
    .dropdown-content:hover {
        opacity: 1;
        transform: none;
    }

    a {
        color: #fff;
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        z-index: 999;
        align-items: center;
        width: 100%;
        height: 3rem;
        height: 10vh;
        padding-inline: 3rem;
        transition: all 0.3s;
    }
    nav.filter {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: #0000003b;
    }

    nav > div {
        flex: 1;
    }

    nav > img {
        height: 2rem;
    }
    nav a {
        text-decoration: none;
    }

    .burger {
        display: none;
    }
    #burger-togggle {
        display: none;
    }

    @media (max-width: 65rem) {
        .burger {
            display: block;
            position: relative;
        }
        .burger,
        .burger::before,
        .burger::after {
            width: 40px;
            height: 3px;
            background-color: #fff;
            transition: all 0.3s ease-out;
        }
        .burger::before,
        .burger::after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
        }

        .burger::before {
            top: -8px;
            /* transform-origin: left center; */
        }
        .right {
            flex: unset;
        }

        .burger::after {
            top: 8px;
            /* transform-origin: left center; */
        }

        .menu {
            pointer-events: none;
            position: fixed;
            padding: 5rem;
            font-size: 1.5rem;
            top: calc(-5vh + 20px);
            right: 0;
            width: calc(100vw + 3rem);
            height: 100vh;
            background-color: rgba(42, 42, 42, 0.255);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            transition: opacity 0.3s ease-out;
            z-index: -1;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
        }

        nav > img {
            order: -1;
            margin-right: 0.5rem;
            margin-left: 1.5rem;
        }
        .burger-label {
            margin-left: auto;
            width: fit-content;
            height: 40px;
            display: block;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 1.5rem;
        }

        #burger-togggle:checked ~ .menu {
            opacity: 1;
            pointer-events: all;
        }

        #burger-togggle:checked ~ .burger-label .burger {
            /* transform: rotate(45deg); */
            height: 0;
            transform: translateX(20px);
        }

        #burger-togggle:checked ~ .burger-label .burger::before {
            transform: rotate(-45deg) translate(-50%, -50%);
            top: 0;
            width: 20px;
        }

        #burger-togggle:checked ~ .burger-label .burger::after {
            transform: rotate(45deg) translate(-50%, -50%);
            top: 1px;
            width: 22px;
            left: -1.5px;
        }
        nav {
            padding: 0;
        }
        .lang-dropdown {
            display: block;
            position: static;
        }

        .dropbtn svg {
            width: 1.5rem;
        }

        .dropbtn {
            display: block;
            margin: auto;
            margin-top: 3rem;
        }
        .dropdown-content {
            opacity: 1;
            transform: none;
            position: static;
            background-color: transparent;
            box-shadow: none;
            backdrop-filter: none;
        }
    }

    .right a::before {
        content: "/";
    }
    #toggleLang::before {
        content: "";
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
    .right a {
        margin-left: 1.5em;
        white-space: nowrap;
    }

    html[lang="zh-Hant"] .right a,
    html[lang="zh-Hans"] .right a {
        margin-left: 2em;
    }

    .right span {
        transition: transform 0.3s;
        display: inline-block;
    }

    .right a:hover span {
        transform: translateX(0.5rem);
    }
    .left,
    .right {
        transform: translateX(2px);
    }

    nav .nav-title a {
        text-decoration: none;
        position: relative;
        font-size: min(2.125rem, 8vw);
    }

    nav .nav-title a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.3s;
    }

    nav .nav-title a:hover::after {
        transform: scaleX(1);
    }
</style>

{blur &&  (
    <script>
     const nav = document.querySelector("nav");
            window.onscroll = () => {
                nav.classList.toggle("filter", window.scrollY > window.innerHeight);
            };
    </script>
)}