---
import * as i18n from "src/i18n";
const t = i18n.T(Astro.url, {
    projects: {
        en: "Projects",
        "zh-Hant": "專案",
        "zh-Hans": "项目"
    },
    about: {
        en: "About",
        "zh-Hant": "關於",
        "zh-Hans": "关于"
    },
    blog: {
        en: "Blog",
        "zh-Hant": "部落格",
        "zh-Hans": "博客"
    }
});
---

<nav>
    <div class="left">
        <div class="nav-title"><a href="/">Elvis Mao</a></div>
    </div>
    <img src="/logo.svg" alt="" />
    <div class="right">
        <input type="checkbox" name="" id="burger-togggle" />
        <label for="burger-togggle" class="burger-label"><div class="burger"></div></label>
        <div class="menu">
            <a href="/code/"><span>{t.projects}</span></a>
            <a href="/about/"><span>{t.about}</span></a>
            <a href="https://emtech.cc" target="_blank"><span>{t.blog}</span></a>
            <div class="lang-dropdown">
                <button id="toggleLang" class="dropbtn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                        ><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                        <path
                            d="M352 256c0 22.2-1.2 43.6-3.3 64l-185.3 0c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64l185.3 0c2.2 20.4 3.3 41.8 3.3 64zm28.8-64l123.1 0c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64l-123.1 0c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32l-116.7 0c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0l-176.6 0c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0L18.6 160C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192l123.1 0c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64L8.1 320C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6l176.6 0c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352l116.7 0zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6l116.7 0z"
                        ></path></svg
                    >
                </button>
                <div class="dropdown-content">
                    <a href="/en/">English</a>
                    <a href="/zh-Hant/">繁體中文</a>
                    <a href="/zh-Hans/">简体中文</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<style>
    .lang-dropdown {
        position: relative;
        display: inline-block;
        margin-left: 1.5em;
    }

    .dropbtn {
        background: none;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1.2em;
        padding: 0;
        vertical-align: middle;
    }
    .dropbtn svg {
        width: 1.3em;
        fill: white;
    }

    .dropdown-content {
        position: absolute;
        background-color: rgba(42, 42, 42, 0.8);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 0;
        top: 2rem;
        border-radius: 4px;
        opacity: 0;
        transform: translateY(-2px);
        transition:
            opacity 0.3s ease-out,
            transform 0.3s ease-out;
    }

    .lang-dropdown .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        margin: 0;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .right .dropdown-content a::before {
        content: "";
    }

    .lang-dropdown:hover .dropdown-content,
    .dropdown-content:hover {
        opacity: 1;
        transform: none;
    }

    a {
        color: #fff;
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        z-index: 999;
        align-items: center;
        width: 100%;
        height: 3rem;
        height: 10vh;
        padding-inline: 3rem;
    }
    nav > div {
        flex: 1;
    }

    nav > img {
        height: 2rem;
    }
    nav a {
        text-decoration: none;
    }

    .burger {
        display: none;
    }
    #burger-togggle {
        display: none;
    }

    @media (max-width: 65rem) {
        .burger {
            display: block;
            position: relative;
        }
        .burger,
        .burger::before,
        .burger::after {
            width: 40px;
            height: 3px;
            background-color: #fff;
            transition: all 0.3s ease-out;
        }
        .burger::before,
        .burger::after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
        }

        .burger::before {
            top: -8px;
            /* transform-origin: left center; */
        }
        .right {
            flex: unset;
        }

        .burger::after {
            top: 8px;
            /* transform-origin: left center; */
        }

        .menu {
            pointer-events: none;
            position: fixed;
            padding: 5rem;
            font-size: 1.5rem;
            top: calc(-5vh + 20px);
            right: 0;
            width: calc(100vw + 3rem);
            height: 100vh;
            background-color: rgba(42, 42, 42, 0.255);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            transition: opacity 0.3s ease-out;
            z-index: -1;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
        }

        nav > img {
            order: -1;
            margin-right: 0.5rem;
            margin-left: 1.5rem;
        }
        .burger-label {
            margin-left: auto;
            width: fit-content;
            height: 40px;
            display: block;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 1.5rem;
        }

        #burger-togggle:checked ~ .menu {
            opacity: 1;
            pointer-events: all;
        }

        #burger-togggle:checked ~ .burger-label .burger {
            /* transform: rotate(45deg); */
            height: 0;
            transform: translateX(20px);
        }

        #burger-togggle:checked ~ .burger-label .burger::before {
            transform: rotate(-45deg) translate(-50%, -50%);
            top: 0;
            width: 20px;
        }

        #burger-togggle:checked ~ .burger-label .burger::after {
            transform: rotate(45deg) translate(-50%, -50%);
            top: 1px;
            width: 22px;
            left: -1.5px;
        }
        nav {
            padding: 0;
        }
        .lang-dropdown {
            display: block;
            position: static;
        }

        .dropbtn svg {
            width: 1.5rem;
        }

        .dropbtn {
            display: block;
            margin: auto;
            margin-top: 3rem;
        }
        .dropdown-content {
            opacity: 1;
            transform: none;
            position: static;
            background-color: transparent;
            box-shadow: none;
            backdrop-filter: none;
        }
    }

    .right a::before {
        content: "/";
    }
    #toggleLang::before {
        content: "";
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
    .right a {
        margin-left: 1.5em;
        white-space: nowrap;
    }

    .right span {
        transition: transform 0.3s;
        display: inline-block;
    }

    .right a:hover span {
        transform: translateX(0.5rem);
    }
    .left,
    .right {
        transform: translateX(2px);
    }

    nav .nav-title a {
        text-decoration: none;
        position: relative;
        font-size: min(2.125rem, 8vw);
    }

    nav .nav-title a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.3s;
    }

    nav .nav-title a:hover::after {
        transform: scaleX(1);
    }
</style>
