---
import Head from "@components/Head.astro";
import "./style.css";
import logo from "@assets/img/nycu-lib.png";
---

<html>
    <head>
        <Head path="code/nycu-lib/" title="交大圖書館 免登入開房系統" description="與你的好友在圖書館中開個包廂，享受私密的單獨時光。" theme="#00298F" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap" rel="stylesheet" />
    </head>
    <body>
        <nav>
            <div>
                <img src={logo.src} alt="NYCU Library Logo" height="25" width="27" />
                <h1>交大圖書館免登入開房系統</h1>
            </div>
        </nav>
        <main class="home">
            <section id="home">
                <div class="box">
                    <h2>交大圖書館<br />免登入開房系統</h2>
                    <hr />
                    <p>此專案並非圖書館官方系統<br />請勿亂幫朋友開房害他被記點</p>
                    <button class="btn to" data-link="time">進入</button>
                    <button class="link to" data-link="reminder">注意事項</button>
                </div>
            </section>
            <section id="reminder">
                <div class="box">
                    <h2>注意事項</h2>
                    <ol>
                        <li>此系統為個人專案，與學校無關。</li>
                        <li><s>如果預約遲到 30 分鐘會被取消並且記點。</s></li>
                        <li><s>進去之後卡片記得要放在裡面，不然 30 分鐘沒卡會自動退房。</s></li>
                        <li><s>圖書館系統規定單次最多可預約 4 小時、14 天以內。</s></li>
                        <li><i>使用此系統沒有以上說的任何限制，但不相關規定是不道德的行為。</i></li>
                        <li>三人才能開房。</li>
                        <li>沒有完全隔音，不要叫太大聲。</li>
                        <li>此專案<a href="https://github.com/Edit-Mr/Edit-Mr.github.io" target="_blank">開源於 GitHub</a>，有任何問題、建議或反饋歡迎開 Issue。</li>
                    </ol>
                    <button class="btn to" data-link="home">返回首頁</button>
                </div>
            </section>
            <section id="time">
                <div class="image-container">
                    <svg width="338" height="148" viewBox="0 0 338 148" fill="none" xmlns="http://www.w3.org/2000/svg" id="map-2F" class="floor-map">
                        <rect x="128" y="28" width="74" height="91" fill="#FDFDFE"></rect>
                        <path
                            d="M146.926 80V68.176H150.078C151.294 68.176 152.329 68.3947 153.182 68.832C154.046 69.2693 154.702 69.92 155.15 70.784C155.609 71.648 155.838 72.736 155.838 74.048C155.838 75.3493 155.609 76.4427 155.15 77.328C154.702 78.2133 154.057 78.88 153.214 79.328C152.371 79.776 151.363 80 150.19 80H146.926ZM149.038 78.288H149.934C150.723 78.288 151.395 78.1387 151.95 77.84C152.515 77.5307 152.942 77.0613 153.23 76.432C153.529 75.8027 153.678 75.008 153.678 74.048C153.678 73.0667 153.529 72.272 153.23 71.664C152.942 71.056 152.515 70.608 151.95 70.32C151.395 70.032 150.723 69.888 149.934 69.888H149.038V78.288ZM157.422 80V78.784C158.489 77.76 159.412 76.8427 160.19 76.032C160.969 75.2107 161.566 74.4693 161.982 73.808C162.409 73.136 162.622 72.5067 162.622 71.92C162.622 71.504 162.548 71.152 162.398 70.864C162.26 70.576 162.052 70.352 161.774 70.192C161.497 70.0213 161.15 69.936 160.734 69.936C160.286 69.936 159.876 70.064 159.502 70.32C159.14 70.576 158.804 70.8747 158.494 71.216L157.326 70.064C157.849 69.488 158.393 69.0507 158.958 68.752C159.534 68.4427 160.217 68.288 161.006 68.288C161.742 68.288 162.382 68.432 162.926 68.72C163.47 69.008 163.892 69.4187 164.19 69.952C164.5 70.4747 164.654 71.0933 164.654 71.808C164.654 72.4907 164.462 73.184 164.078 73.888C163.694 74.592 163.188 75.312 162.558 76.048C161.929 76.784 161.23 77.552 160.462 78.352C160.772 78.32 161.102 78.2933 161.454 78.272C161.806 78.24 162.121 78.224 162.398 78.224H165.198V80H157.422ZM170.656 80.224C169.866 80.224 169.178 79.9947 168.592 79.536C168.005 79.0667 167.552 78.3893 167.232 77.504C166.912 76.608 166.752 75.5093 166.752 74.208C166.752 72.9067 166.912 71.8187 167.232 70.944C167.552 70.0693 168.005 69.408 168.592 68.96C169.178 68.512 169.866 68.288 170.656 68.288C171.456 68.288 172.149 68.512 172.736 68.96C173.322 69.408 173.77 70.0693 174.08 70.944C174.4 71.8187 174.56 72.9067 174.56 74.208C174.56 75.5093 174.4 76.608 174.08 77.504C173.77 78.3893 173.322 79.0667 172.736 79.536C172.149 79.9947 171.456 80.224 170.656 80.224ZM170.656 78.56C171.029 78.56 171.36 78.4267 171.648 78.16C171.936 77.8827 172.16 77.424 172.32 76.784C172.49 76.144 172.576 75.2853 172.576 74.208C172.576 73.12 172.49 72.2667 172.32 71.648C172.16 71.0187 171.936 70.576 171.648 70.32C171.36 70.064 171.029 69.936 170.656 69.936C170.293 69.936 169.968 70.064 169.68 70.32C169.392 70.576 169.162 71.0187 168.992 71.648C168.821 72.2667 168.736 73.12 168.736 74.208C168.736 75.2853 168.821 76.144 168.992 76.784C169.162 77.424 169.392 77.8827 169.68 78.16C169.968 78.4267 170.293 78.56 170.656 78.56ZM175.985 80V78.784C177.052 77.76 177.974 76.8427 178.753 76.032C179.532 75.2107 180.129 74.4693 180.545 73.808C180.972 73.136 181.185 72.5067 181.185 71.92C181.185 71.504 181.11 71.152 180.961 70.864C180.822 70.576 180.614 70.352 180.337 70.192C180.06 70.0213 179.713 69.936 179.297 69.936C178.849 69.936 178.438 70.064 178.065 70.32C177.702 70.576 177.366 70.8747 177.057 71.216L175.889 70.064C176.412 69.488 176.956 69.0507 177.521 68.752C178.097 68.4427 178.78 68.288 179.569 68.288C180.305 68.288 180.945 68.432 181.489 68.72C182.033 69.008 182.454 69.4187 182.753 69.952C183.062 70.4747 183.217 71.0933 183.217 71.808C183.217 72.4907 183.025 73.184 182.641 73.888C182.257 74.592 181.75 75.312 181.121 76.048C180.492 76.784 179.793 77.552 179.025 78.352C179.334 78.32 179.665 78.2933 180.017 78.272C180.369 78.24 180.684 78.224 180.961 78.224H183.761V80H175.985Z"
                            fill="black"></path>
                        <rect x="213" y="28" width="79" height="91" fill="#FDFDFE"></rect>
                        <path
                            d="M233.926 80V68.176H237.078C238.294 68.176 239.329 68.3947 240.182 68.832C241.046 69.2693 241.702 69.92 242.15 70.784C242.609 71.648 242.838 72.736 242.838 74.048C242.838 75.3493 242.609 76.4427 242.15 77.328C241.702 78.2133 241.057 78.88 240.214 79.328C239.371 79.776 238.363 80 237.19 80H233.926ZM236.038 78.288H236.934C237.723 78.288 238.395 78.1387 238.95 77.84C239.515 77.5307 239.942 77.0613 240.23 76.432C240.529 75.8027 240.678 75.008 240.678 74.048C240.678 73.0667 240.529 72.272 240.23 71.664C239.942 71.056 239.515 70.608 238.95 70.32C238.395 70.032 237.723 69.888 236.934 69.888H236.038V78.288ZM244.422 80V78.784C245.489 77.76 246.412 76.8427 247.19 76.032C247.969 75.2107 248.566 74.4693 248.982 73.808C249.409 73.136 249.622 72.5067 249.622 71.92C249.622 71.504 249.548 71.152 249.398 70.864C249.26 70.576 249.052 70.352 248.774 70.192C248.497 70.0213 248.15 69.936 247.734 69.936C247.286 69.936 246.876 70.064 246.502 70.32C246.14 70.576 245.804 70.8747 245.494 71.216L244.326 70.064C244.849 69.488 245.393 69.0507 245.958 68.752C246.534 68.4427 247.217 68.288 248.006 68.288C248.742 68.288 249.382 68.432 249.926 68.72C250.47 69.008 250.892 69.4187 251.19 69.952C251.5 70.4747 251.654 71.0933 251.654 71.808C251.654 72.4907 251.462 73.184 251.078 73.888C250.694 74.592 250.188 75.312 249.558 76.048C248.929 76.784 248.23 77.552 247.462 78.352C247.772 78.32 248.102 78.2933 248.454 78.272C248.806 78.24 249.121 78.224 249.398 78.224H252.198V80H244.422ZM257.656 80.224C256.866 80.224 256.178 79.9947 255.592 79.536C255.005 79.0667 254.552 78.3893 254.232 77.504C253.912 76.608 253.752 75.5093 253.752 74.208C253.752 72.9067 253.912 71.8187 254.232 70.944C254.552 70.0693 255.005 69.408 255.592 68.96C256.178 68.512 256.866 68.288 257.656 68.288C258.456 68.288 259.149 68.512 259.736 68.96C260.322 69.408 260.77 70.0693 261.08 70.944C261.4 71.8187 261.56 72.9067 261.56 74.208C261.56 75.5093 261.4 76.608 261.08 77.504C260.77 78.3893 260.322 79.0667 259.736 79.536C259.149 79.9947 258.456 80.224 257.656 80.224ZM257.656 78.56C258.029 78.56 258.36 78.4267 258.648 78.16C258.936 77.8827 259.16 77.424 259.32 76.784C259.49 76.144 259.576 75.2853 259.576 74.208C259.576 73.12 259.49 72.2667 259.32 71.648C259.16 71.0187 258.936 70.576 258.648 70.32C258.36 70.064 258.029 69.936 257.656 69.936C257.293 69.936 256.968 70.064 256.68 70.32C256.392 70.576 256.162 71.0187 255.992 71.648C255.821 72.2667 255.736 73.12 255.736 74.208C255.736 75.2853 255.821 76.144 255.992 76.784C256.162 77.424 256.392 77.8827 256.68 78.16C256.968 78.4267 257.293 78.56 257.656 78.56ZM263.641 80V78.288H266.217V70.768H264.073V69.456C264.649 69.3387 265.145 69.2053 265.561 69.056C265.988 68.9067 266.377 68.72 266.729 68.496H268.297V78.288H270.569V80H263.641Z"
                            fill="black"></path>
                        <rect x="47" y="28" width="69" height="91" fill="#FDFDFE"></rect>
                        <path
                            d="M62.9259 80V68.176H66.0779C67.2939 68.176 68.3285 68.3947 69.1819 68.832C70.0459 69.2693 70.7019 69.92 71.1499 70.784C71.6085 71.648 71.8379 72.736 71.8379 74.048C71.8379 75.3493 71.6085 76.4427 71.1499 77.328C70.7019 78.2133 70.0565 78.88 69.2139 79.328C68.3712 79.776 67.3632 80 66.1899 80H62.9259ZM65.0379 78.288H65.9339C66.7232 78.288 67.3952 78.1387 67.9499 77.84C68.5152 77.5307 68.9419 77.0613 69.2299 76.432C69.5285 75.8027 69.6779 75.008 69.6779 74.048C69.6779 73.0667 69.5285 72.272 69.2299 71.664C68.9419 71.056 68.5152 70.608 67.9499 70.32C67.3952 70.032 66.7232 69.888 65.9339 69.888H65.0379V78.288ZM73.4224 80V78.784C74.489 77.76 75.4117 76.8427 76.1904 76.032C76.969 75.2107 77.5664 74.4693 77.9824 73.808C78.409 73.136 78.6224 72.5067 78.6224 71.92C78.6224 71.504 78.5477 71.152 78.3984 70.864C78.2597 70.576 78.0517 70.352 77.7744 70.192C77.497 70.0213 77.1504 69.936 76.7344 69.936C76.2864 69.936 75.8757 70.064 75.5024 70.32C75.1397 70.576 74.8037 70.8747 74.4944 71.216L73.3264 70.064C73.849 69.488 74.393 69.0507 74.9584 68.752C75.5344 68.4427 76.217 68.288 77.0064 68.288C77.7424 68.288 78.3824 68.432 78.9264 68.72C79.4704 69.008 79.8917 69.4187 80.1904 69.952C80.4997 70.4747 80.6544 71.0933 80.6544 71.808C80.6544 72.4907 80.4624 73.184 80.0784 73.888C79.6944 74.592 79.1877 75.312 78.5584 76.048C77.929 76.784 77.2304 77.552 76.4624 78.352C76.7717 78.32 77.1024 78.2933 77.4544 78.272C77.8064 78.24 78.121 78.224 78.3984 78.224H81.1984V80H73.4224ZM86.6556 80.224C85.8663 80.224 85.1783 79.9947 84.5916 79.536C84.005 79.0667 83.5516 78.3893 83.2316 77.504C82.9116 76.608 82.7516 75.5093 82.7516 74.208C82.7516 72.9067 82.9116 71.8187 83.2316 70.944C83.5516 70.0693 84.005 69.408 84.5916 68.96C85.1783 68.512 85.8663 68.288 86.6556 68.288C87.4556 68.288 88.149 68.512 88.7356 68.96C89.3223 69.408 89.7703 70.0693 90.0796 70.944C90.3996 71.8187 90.5596 72.9067 90.5596 74.208C90.5596 75.5093 90.3996 76.608 90.0796 77.504C89.7703 78.3893 89.3223 79.0667 88.7356 79.536C88.149 79.9947 87.4556 80.224 86.6556 80.224ZM86.6556 78.56C87.029 78.56 87.3596 78.4267 87.6476 78.16C87.9356 77.8827 88.1596 77.424 88.3196 76.784C88.4903 76.144 88.5756 75.2853 88.5756 74.208C88.5756 73.12 88.4903 72.2667 88.3196 71.648C88.1596 71.0187 87.9356 70.576 87.6476 70.32C87.3596 70.064 87.029 69.936 86.6556 69.936C86.293 69.936 85.9676 70.064 85.6796 70.32C85.3916 70.576 85.1623 71.0187 84.9916 71.648C84.821 72.2667 84.7356 73.12 84.7356 74.208C84.7356 75.2853 84.821 76.144 84.9916 76.784C85.1623 77.424 85.3916 77.8827 85.6796 78.16C85.9676 78.4267 86.293 78.56 86.6556 78.56ZM95.6169 80.224C94.9982 80.224 94.4489 80.1493 93.9689 80C93.4889 79.8507 93.0622 79.6533 92.6889 79.408C92.3155 79.1627 91.9955 78.8853 91.7289 78.576L92.7369 77.248C93.0889 77.5893 93.4835 77.8827 93.9209 78.128C94.3582 78.3733 94.8649 78.496 95.4409 78.496C95.8675 78.496 96.2409 78.432 96.5609 78.304C96.8809 78.1653 97.1262 77.968 97.2969 77.712C97.4782 77.4453 97.5689 77.136 97.5689 76.784C97.5689 76.3787 97.4675 76.032 97.2649 75.744C97.0729 75.456 96.7315 75.2373 96.2409 75.088C95.7502 74.928 95.0675 74.848 94.1929 74.848V73.312C94.9502 73.312 95.5422 73.232 95.9689 73.072C96.4062 72.912 96.7155 72.6933 96.8969 72.416C97.0889 72.1387 97.1849 71.824 97.1849 71.472C97.1849 70.992 97.0355 70.6187 96.7369 70.352C96.4382 70.0747 96.0222 69.936 95.4889 69.936C95.0515 69.936 94.6462 70.0373 94.2729 70.24C93.8995 70.4427 93.5369 70.7093 93.1849 71.04L92.1129 69.728C92.6035 69.3013 93.1315 68.9547 93.6969 68.688C94.2622 68.4213 94.8862 68.288 95.5689 68.288C96.3049 68.288 96.9502 68.4053 97.5049 68.64C98.0702 68.8747 98.5075 69.2213 98.8169 69.68C99.1369 70.128 99.2969 70.672 99.2969 71.312C99.2969 71.9627 99.1155 72.5067 98.7529 72.944C98.4009 73.3813 97.9155 73.7227 97.2969 73.968V74.032C97.7449 74.1493 98.1502 74.336 98.5129 74.592C98.8755 74.848 99.1582 75.168 99.3609 75.552C99.5742 75.936 99.6809 76.384 99.6809 76.896C99.6809 77.6 99.4942 78.2027 99.1209 78.704C98.7582 79.1947 98.2675 79.5733 97.6489 79.84C97.0409 80.096 96.3635 80.224 95.6169 80.224Z"
                            fill="black"></path>
                    </svg>
                    <svg width="338" height="148" viewBox="0 0 338 148" fill="none" xmlns="http://www.w3.org/2000/svg" id="map-5F" class="floor-map">
                        <rect x="133" y="44" width="71" height="59" fill="#FDFDFE"></rect>
                        <path
                            d="M159.43 80.224C158.811 80.224 158.257 80.1493 157.766 80C157.286 79.8507 156.859 79.6533 156.486 79.408C156.123 79.1627 155.793 78.9013 155.494 78.624L156.486 77.28C156.71 77.4933 156.955 77.696 157.222 77.888C157.489 78.0693 157.782 78.2187 158.102 78.336C158.433 78.4427 158.79 78.496 159.174 78.496C159.601 78.496 159.979 78.4053 160.31 78.224C160.641 78.0427 160.902 77.776 161.094 77.424C161.286 77.072 161.382 76.6507 161.382 76.16C161.382 75.424 161.185 74.8587 160.79 74.464C160.406 74.0587 159.899 73.856 159.27 73.856C158.907 73.856 158.598 73.9093 158.342 74.016C158.086 74.112 157.782 74.272 157.43 74.496L156.438 73.856L156.79 68.176H162.934V69.952H158.598L158.358 72.72C158.593 72.6027 158.827 72.512 159.062 72.448C159.307 72.384 159.579 72.352 159.878 72.352C160.539 72.352 161.142 72.4853 161.686 72.752C162.241 73.0187 162.678 73.4293 162.998 73.984C163.329 74.528 163.494 75.232 163.494 76.096C163.494 76.9707 163.302 77.7173 162.918 78.336C162.534 78.944 162.033 79.4133 161.414 79.744C160.806 80.064 160.145 80.224 159.43 80.224ZM168.999 80.224C168.221 80.224 167.538 79.9947 166.951 79.536C166.365 79.0773 165.906 78.3893 165.575 77.472C165.255 76.5547 165.095 75.4133 165.095 74.048C165.095 72.6827 165.255 71.552 165.575 70.656C165.906 69.76 166.365 69.088 166.951 68.64C167.538 68.192 168.221 67.968 168.999 67.968C169.799 67.968 170.487 68.192 171.063 68.64C171.65 69.088 172.103 69.76 172.423 70.656C172.743 71.552 172.903 72.6827 172.903 74.048C172.903 75.4133 172.743 76.5547 172.423 77.472C172.103 78.3893 171.65 79.0773 171.063 79.536C170.487 79.9947 169.799 80.224 168.999 80.224ZM168.999 78.56C169.373 78.56 169.703 78.416 169.991 78.128C170.279 77.84 170.503 77.3707 170.663 76.72C170.834 76.0587 170.919 75.168 170.919 74.048C170.919 72.928 170.834 72.0427 170.663 71.392C170.503 70.7413 170.279 70.2827 169.991 70.016C169.703 69.7387 169.373 69.6 168.999 69.6C168.637 69.6 168.311 69.7387 168.023 70.016C167.735 70.2827 167.506 70.7413 167.335 71.392C167.165 72.0427 167.079 72.928 167.079 74.048C167.079 75.168 167.165 76.0587 167.335 76.72C167.506 77.3707 167.735 77.84 168.023 78.128C168.311 78.416 168.637 78.56 168.999 78.56ZM174.985 80V78.288H177.561V70.448H175.417V69.136C175.993 69.0293 176.489 68.9013 176.905 68.752C177.331 68.592 177.721 68.4 178.073 68.176H179.641V78.288H181.913V80H174.985Z"
                            fill="black"></path>
                    </svg>
                    <svg width="338" height="148" viewBox="0 0 338 148" fill="none" xmlns="http://www.w3.org/2000/svg" id="map-6F" class="floor-map">
                        <rect y="1" width="68.2338" height="63.0646" fill="#FDFDFE"></rect>
                        <rect x="94.08" y="58" width="70.3015" height="43.4215" fill="#FDFDFE"></rect>
                        <rect x="173.686" y="58" width="72.3692" height="43.4215" fill="#FDFDFE"></rect>
                        <rect x="94.08" y="110" width="70.3015" height="37.2185" fill="#FDFDFE"></rect>
                        <rect x="173.686" y="110" width="72.3692" height="37.2185" fill="#FDFDFE"></rect>
                        <rect x="285" width="53" height="80" fill="#FDFDFE"></rect>
                        <path
                            d="M15.9259 39V27.176H19.0779C20.2939 27.176 21.3285 27.3947 22.1819 27.832C23.0459 28.2693 23.7019 28.92 24.1499 29.784C24.6085 30.648 24.8379 31.736 24.8379 33.048C24.8379 34.3493 24.6085 35.4427 24.1499 36.328C23.7019 37.2133 23.0565 37.88 22.2139 38.328C21.3712 38.776 20.3632 39 19.1899 39H15.9259ZM18.0379 37.288H18.9339C19.7232 37.288 20.3952 37.1387 20.9499 36.84C21.5152 36.5307 21.9419 36.0613 22.2299 35.432C22.5285 34.8027 22.6779 34.008 22.6779 33.048C22.6779 32.0667 22.5285 31.272 22.2299 30.664C21.9419 30.056 21.5152 29.608 20.9499 29.32C20.3952 29.032 19.7232 28.888 18.9339 28.888H18.0379V37.288ZM30.7104 39.224C30.145 39.224 29.6117 39.112 29.1104 38.888C28.609 38.664 28.1664 38.3227 27.7824 37.864C27.3984 37.3947 27.0944 36.808 26.8704 36.104C26.6464 35.4 26.5344 34.5627 26.5344 33.592C26.5344 32.472 26.657 31.5173 26.9024 30.728C27.1477 29.928 27.4837 29.2773 27.9104 28.776C28.337 28.264 28.817 27.8907 29.3504 27.656C29.8944 27.4107 30.4597 27.288 31.0464 27.288C31.7504 27.288 32.353 27.416 32.8544 27.672C33.3664 27.928 33.793 28.232 34.1344 28.584L33.0144 29.848C32.801 29.6027 32.529 29.4 32.1984 29.24C31.8677 29.08 31.5264 29 31.1744 29C30.6837 29 30.2304 29.144 29.8144 29.432C29.409 29.72 29.0837 30.2 28.8384 30.872C28.593 31.5333 28.4704 32.44 28.4704 33.592C28.4704 34.5413 28.5664 35.3147 28.7584 35.912C28.9504 36.4987 29.2117 36.9307 29.5424 37.208C29.873 37.4853 30.2464 37.624 30.6624 37.624C30.993 37.624 31.2864 37.5387 31.5424 37.368C31.809 37.1973 32.017 36.952 32.1664 36.632C32.3264 36.3013 32.4064 35.9067 32.4064 35.448C32.4064 34.9893 32.3317 34.6107 32.1824 34.312C32.033 34.0027 31.8197 33.7733 31.5424 33.624C31.2757 33.4747 30.9557 33.4 30.5824 33.4C30.2517 33.4 29.8944 33.5067 29.5104 33.72C29.137 33.9333 28.785 34.3013 28.4544 34.824L28.3744 33.352C28.5984 33.0533 28.8544 32.7973 29.1424 32.584C29.441 32.36 29.7504 32.1893 30.0704 32.072C30.3904 31.9547 30.689 31.896 30.9664 31.896C31.6277 31.896 32.209 32.024 32.7104 32.28C33.2224 32.536 33.617 32.9307 33.8944 33.464C34.1824 33.9867 34.3264 34.648 34.3264 35.448C34.3264 36.2053 34.161 36.8667 33.8304 37.432C33.4997 37.9973 33.0624 38.44 32.5184 38.76C31.9744 39.0693 31.3717 39.224 30.7104 39.224ZM39.6556 39.224C38.8663 39.224 38.1783 38.9947 37.5916 38.536C37.005 38.0667 36.5516 37.3893 36.2316 36.504C35.9116 35.608 35.7516 34.5093 35.7516 33.208C35.7516 31.9067 35.9116 30.8187 36.2316 29.944C36.5516 29.0693 37.005 28.408 37.5916 27.96C38.1783 27.512 38.8663 27.288 39.6556 27.288C40.4556 27.288 41.149 27.512 41.7356 27.96C42.3223 28.408 42.7703 29.0693 43.0796 29.944C43.3996 30.8187 43.5596 31.9067 43.5596 33.208C43.5596 34.5093 43.3996 35.608 43.0796 36.504C42.7703 37.3893 42.3223 38.0667 41.7356 38.536C41.149 38.9947 40.4556 39.224 39.6556 39.224ZM39.6556 37.56C40.029 37.56 40.3596 37.4267 40.6476 37.16C40.9356 36.8827 41.1596 36.424 41.3196 35.784C41.4903 35.144 41.5756 34.2853 41.5756 33.208C41.5756 32.12 41.4903 31.2667 41.3196 30.648C41.1596 30.0187 40.9356 29.576 40.6476 29.32C40.3596 29.064 40.029 28.936 39.6556 28.936C39.293 28.936 38.9676 29.064 38.6796 29.32C38.3916 29.576 38.1623 30.0187 37.9916 30.648C37.821 31.2667 37.7356 32.12 37.7356 33.208C37.7356 34.2853 37.821 35.144 37.9916 35.784C38.1623 36.424 38.3916 36.8827 38.6796 37.16C38.9676 37.4267 39.293 37.56 39.6556 37.56ZM44.9849 39V37.784C46.0515 36.76 46.9742 35.8427 47.7529 35.032C48.5315 34.2107 49.1289 33.4693 49.5449 32.808C49.9715 32.136 50.1849 31.5067 50.1849 30.92C50.1849 30.504 50.1102 30.152 49.9609 29.864C49.8222 29.576 49.6142 29.352 49.3369 29.192C49.0595 29.0213 48.7129 28.936 48.2969 28.936C47.8489 28.936 47.4382 29.064 47.0649 29.32C46.7022 29.576 46.3662 29.8747 46.0569 30.216L44.8889 29.064C45.4115 28.488 45.9555 28.0507 46.5209 27.752C47.0969 27.4427 47.7795 27.288 48.5689 27.288C49.3049 27.288 49.9449 27.432 50.4889 27.72C51.0329 28.008 51.4542 28.4187 51.7529 28.952C52.0622 29.4747 52.2169 30.0933 52.2169 30.808C52.2169 31.4907 52.0249 32.184 51.6409 32.888C51.2569 33.592 50.7502 34.312 50.1209 35.048C49.4915 35.784 48.7929 36.552 48.0249 37.352C48.3342 37.32 48.6649 37.2933 49.0169 37.272C49.3689 37.24 49.6835 37.224 49.9609 37.224H52.7609V39H44.9849Z"
                            fill="black"></path>
                        <path
                            d="M116.575 86.224C115.829 86.224 115.135 86.0907 114.495 85.824C113.855 85.5573 113.29 85.1627 112.799 84.64C112.309 84.1173 111.925 83.4773 111.647 82.72C111.381 81.9627 111.247 81.0987 111.247 80.128C111.247 79.1573 111.386 78.2933 111.663 77.536C111.951 76.7787 112.341 76.1333 112.831 75.6C113.333 75.0667 113.909 74.6613 114.559 74.384C115.221 74.1067 115.925 73.968 116.671 73.968C117.418 73.968 118.079 74.1227 118.655 74.432C119.231 74.7307 119.706 75.0773 120.079 75.472L118.959 76.816C118.65 76.5173 118.314 76.272 117.951 76.08C117.589 75.888 117.173 75.792 116.703 75.792C116.074 75.792 115.509 75.968 115.007 76.32C114.506 76.6613 114.117 77.152 113.839 77.792C113.562 78.4213 113.423 79.1787 113.423 80.064C113.423 80.96 113.557 81.7333 113.823 82.384C114.09 83.024 114.463 83.52 114.943 83.872C115.434 84.2133 116.005 84.384 116.655 84.384C117.178 84.384 117.647 84.272 118.063 84.048C118.479 83.824 118.853 83.5307 119.183 83.168L120.303 84.496C119.823 85.0613 119.274 85.4933 118.655 85.792C118.037 86.08 117.343 86.224 116.575 86.224ZM125.765 86.224C125.2 86.224 124.666 86.112 124.165 85.888C123.664 85.664 123.221 85.3227 122.837 84.864C122.453 84.3947 122.149 83.808 121.925 83.104C121.701 82.4 121.589 81.5627 121.589 80.592C121.589 79.472 121.712 78.5173 121.957 77.728C122.202 76.928 122.538 76.2773 122.965 75.776C123.392 75.264 123.872 74.8907 124.405 74.656C124.949 74.4107 125.514 74.288 126.101 74.288C126.805 74.288 127.408 74.416 127.909 74.672C128.421 74.928 128.848 75.232 129.189 75.584L128.069 76.848C127.856 76.6027 127.584 76.4 127.253 76.24C126.922 76.08 126.581 76 126.229 76C125.738 76 125.285 76.144 124.869 76.432C124.464 76.72 124.138 77.2 123.893 77.872C123.648 78.5333 123.525 79.44 123.525 80.592C123.525 81.5413 123.621 82.3147 123.813 82.912C124.005 83.4987 124.266 83.9307 124.597 84.208C124.928 84.4853 125.301 84.624 125.717 84.624C126.048 84.624 126.341 84.5387 126.597 84.368C126.864 84.1973 127.072 83.952 127.221 83.632C127.381 83.3013 127.461 82.9067 127.461 82.448C127.461 81.9893 127.386 81.6107 127.237 81.312C127.088 81.0027 126.874 80.7733 126.597 80.624C126.33 80.4747 126.01 80.4 125.637 80.4C125.306 80.4 124.949 80.5067 124.565 80.72C124.192 80.9333 123.84 81.3013 123.509 81.824L123.429 80.352C123.653 80.0533 123.909 79.7973 124.197 79.584C124.496 79.36 124.805 79.1893 125.125 79.072C125.445 78.9547 125.744 78.896 126.021 78.896C126.682 78.896 127.264 79.024 127.765 79.28C128.277 79.536 128.672 79.9307 128.949 80.464C129.237 80.9867 129.381 81.648 129.381 82.448C129.381 83.2053 129.216 83.8667 128.885 84.432C128.554 84.9973 128.117 85.44 127.573 85.76C127.029 86.0693 126.426 86.224 125.765 86.224ZM134.71 86.224C133.921 86.224 133.233 85.9947 132.646 85.536C132.06 85.0667 131.606 84.3893 131.286 83.504C130.966 82.608 130.806 81.5093 130.806 80.208C130.806 78.9067 130.966 77.8187 131.286 76.944C131.606 76.0693 132.06 75.408 132.646 74.96C133.233 74.512 133.921 74.288 134.71 74.288C135.51 74.288 136.204 74.512 136.79 74.96C137.377 75.408 137.825 76.0693 138.134 76.944C138.454 77.8187 138.614 78.9067 138.614 80.208C138.614 81.5093 138.454 82.608 138.134 83.504C137.825 84.3893 137.377 85.0667 136.79 85.536C136.204 85.9947 135.51 86.224 134.71 86.224ZM134.71 84.56C135.084 84.56 135.414 84.4267 135.702 84.16C135.99 83.8827 136.214 83.424 136.374 82.784C136.545 82.144 136.63 81.2853 136.63 80.208C136.63 79.12 136.545 78.2667 136.374 77.648C136.214 77.0187 135.99 76.576 135.702 76.32C135.414 76.064 135.084 75.936 134.71 75.936C134.348 75.936 134.022 76.064 133.734 76.32C133.446 76.576 133.217 77.0187 133.046 77.648C132.876 78.2667 132.79 79.12 132.79 80.208C132.79 81.2853 132.876 82.144 133.046 82.784C133.217 83.424 133.446 83.8827 133.734 84.16C134.022 84.4267 134.348 84.56 134.71 84.56ZM144.76 86V78.832C144.76 78.5013 144.77 78.1067 144.792 77.648C144.813 77.1787 144.829 76.7787 144.84 76.448H144.776C144.626 76.736 144.472 77.0293 144.312 77.328C144.162 77.6267 144.002 77.9307 143.832 78.24L141.752 81.424H148.168V83.056H139.688V81.616L144.232 74.496H146.712V86H144.76Z"
                            fill="black"></path>
                        <path
                            d="M116.575 134.224C115.829 134.224 115.135 134.091 114.495 133.824C113.855 133.557 113.29 133.163 112.799 132.64C112.309 132.117 111.925 131.477 111.647 130.72C111.381 129.963 111.247 129.099 111.247 128.128C111.247 127.157 111.386 126.293 111.663 125.536C111.951 124.779 112.341 124.133 112.831 123.6C113.333 123.067 113.909 122.661 114.559 122.384C115.221 122.107 115.925 121.968 116.671 121.968C117.418 121.968 118.079 122.123 118.655 122.432C119.231 122.731 119.706 123.077 120.079 123.472L118.959 124.816C118.65 124.517 118.314 124.272 117.951 124.08C117.589 123.888 117.173 123.792 116.703 123.792C116.074 123.792 115.509 123.968 115.007 124.32C114.506 124.661 114.117 125.152 113.839 125.792C113.562 126.421 113.423 127.179 113.423 128.064C113.423 128.96 113.557 129.733 113.823 130.384C114.09 131.024 114.463 131.52 114.943 131.872C115.434 132.213 116.005 132.384 116.655 132.384C117.178 132.384 117.647 132.272 118.063 132.048C118.479 131.824 118.853 131.531 119.183 131.168L120.303 132.496C119.823 133.061 119.274 133.493 118.655 133.792C118.037 134.08 117.343 134.224 116.575 134.224ZM125.765 134.224C125.2 134.224 124.666 134.112 124.165 133.888C123.664 133.664 123.221 133.323 122.837 132.864C122.453 132.395 122.149 131.808 121.925 131.104C121.701 130.4 121.589 129.563 121.589 128.592C121.589 127.472 121.712 126.517 121.957 125.728C122.202 124.928 122.538 124.277 122.965 123.776C123.392 123.264 123.872 122.891 124.405 122.656C124.949 122.411 125.514 122.288 126.101 122.288C126.805 122.288 127.408 122.416 127.909 122.672C128.421 122.928 128.848 123.232 129.189 123.584L128.069 124.848C127.856 124.603 127.584 124.4 127.253 124.24C126.922 124.08 126.581 124 126.229 124C125.738 124 125.285 124.144 124.869 124.432C124.464 124.72 124.138 125.2 123.893 125.872C123.648 126.533 123.525 127.44 123.525 128.592C123.525 129.541 123.621 130.315 123.813 130.912C124.005 131.499 124.266 131.931 124.597 132.208C124.928 132.485 125.301 132.624 125.717 132.624C126.048 132.624 126.341 132.539 126.597 132.368C126.864 132.197 127.072 131.952 127.221 131.632C127.381 131.301 127.461 130.907 127.461 130.448C127.461 129.989 127.386 129.611 127.237 129.312C127.088 129.003 126.874 128.773 126.597 128.624C126.33 128.475 126.01 128.4 125.637 128.4C125.306 128.4 124.949 128.507 124.565 128.72C124.192 128.933 123.84 129.301 123.509 129.824L123.429 128.352C123.653 128.053 123.909 127.797 124.197 127.584C124.496 127.36 124.805 127.189 125.125 127.072C125.445 126.955 125.744 126.896 126.021 126.896C126.682 126.896 127.264 127.024 127.765 127.28C128.277 127.536 128.672 127.931 128.949 128.464C129.237 128.987 129.381 129.648 129.381 130.448C129.381 131.205 129.216 131.867 128.885 132.432C128.554 132.997 128.117 133.44 127.573 133.76C127.029 134.069 126.426 134.224 125.765 134.224ZM134.71 134.224C133.921 134.224 133.233 133.995 132.646 133.536C132.06 133.067 131.606 132.389 131.286 131.504C130.966 130.608 130.806 129.509 130.806 128.208C130.806 126.907 130.966 125.819 131.286 124.944C131.606 124.069 132.06 123.408 132.646 122.96C133.233 122.512 133.921 122.288 134.71 122.288C135.51 122.288 136.204 122.512 136.79 122.96C137.377 123.408 137.825 124.069 138.134 124.944C138.454 125.819 138.614 126.907 138.614 128.208C138.614 129.509 138.454 130.608 138.134 131.504C137.825 132.389 137.377 133.067 136.79 133.536C136.204 133.995 135.51 134.224 134.71 134.224ZM134.71 132.56C135.084 132.56 135.414 132.427 135.702 132.16C135.99 131.883 136.214 131.424 136.374 130.784C136.545 130.144 136.63 129.285 136.63 128.208C136.63 127.12 136.545 126.267 136.374 125.648C136.214 125.019 135.99 124.576 135.702 124.32C135.414 124.064 135.084 123.936 134.71 123.936C134.348 123.936 134.022 124.064 133.734 124.32C133.446 124.576 133.217 125.019 133.046 125.648C132.876 126.267 132.79 127.12 132.79 128.208C132.79 129.285 132.876 130.144 133.046 130.784C133.217 131.424 133.446 131.883 133.734 132.16C134.022 132.427 134.348 132.56 134.71 132.56ZM143.672 134.224C143.053 134.224 142.504 134.149 142.024 134C141.544 133.851 141.117 133.653 140.744 133.408C140.37 133.163 140.05 132.885 139.784 132.576L140.792 131.248C141.144 131.589 141.538 131.883 141.976 132.128C142.413 132.373 142.92 132.496 143.496 132.496C143.922 132.496 144.296 132.432 144.616 132.304C144.936 132.165 145.181 131.968 145.352 131.712C145.533 131.445 145.624 131.136 145.624 130.784C145.624 130.379 145.522 130.032 145.32 129.744C145.128 129.456 144.786 129.237 144.296 129.088C143.805 128.928 143.122 128.848 142.248 128.848V127.312C143.005 127.312 143.597 127.232 144.024 127.072C144.461 126.912 144.77 126.693 144.952 126.416C145.144 126.139 145.24 125.824 145.24 125.472C145.24 124.992 145.09 124.619 144.792 124.352C144.493 124.075 144.077 123.936 143.544 123.936C143.106 123.936 142.701 124.037 142.328 124.24C141.954 124.443 141.592 124.709 141.24 125.04L140.168 123.728C140.658 123.301 141.186 122.955 141.752 122.688C142.317 122.421 142.941 122.288 143.624 122.288C144.36 122.288 145.005 122.405 145.56 122.64C146.125 122.875 146.562 123.221 146.872 123.68C147.192 124.128 147.352 124.672 147.352 125.312C147.352 125.963 147.17 126.507 146.808 126.944C146.456 127.381 145.97 127.723 145.352 127.968V128.032C145.8 128.149 146.205 128.336 146.568 128.592C146.93 128.848 147.213 129.168 147.416 129.552C147.629 129.936 147.736 130.384 147.736 130.896C147.736 131.6 147.549 132.203 147.176 132.704C146.813 133.195 146.322 133.573 145.704 133.84C145.096 134.096 144.418 134.224 143.672 134.224Z"
                            fill="black"></path>
                        <path
                            d="M197.575 86.224C196.829 86.224 196.135 86.0907 195.495 85.824C194.855 85.5573 194.29 85.1627 193.799 84.64C193.309 84.1173 192.925 83.4773 192.647 82.72C192.381 81.9627 192.247 81.0987 192.247 80.128C192.247 79.1573 192.386 78.2933 192.663 77.536C192.951 76.7787 193.341 76.1333 193.831 75.6C194.333 75.0667 194.909 74.6613 195.559 74.384C196.221 74.1067 196.925 73.968 197.671 73.968C198.418 73.968 199.079 74.1227 199.655 74.432C200.231 74.7307 200.706 75.0773 201.079 75.472L199.959 76.816C199.65 76.5173 199.314 76.272 198.951 76.08C198.589 75.888 198.173 75.792 197.703 75.792C197.074 75.792 196.509 75.968 196.007 76.32C195.506 76.6613 195.117 77.152 194.839 77.792C194.562 78.4213 194.423 79.1787 194.423 80.064C194.423 80.96 194.557 81.7333 194.823 82.384C195.09 83.024 195.463 83.52 195.943 83.872C196.434 84.2133 197.005 84.384 197.655 84.384C198.178 84.384 198.647 84.272 199.063 84.048C199.479 83.824 199.853 83.5307 200.183 83.168L201.303 84.496C200.823 85.0613 200.274 85.4933 199.655 85.792C199.037 86.08 198.343 86.224 197.575 86.224ZM206.765 86.224C206.2 86.224 205.666 86.112 205.165 85.888C204.664 85.664 204.221 85.3227 203.837 84.864C203.453 84.3947 203.149 83.808 202.925 83.104C202.701 82.4 202.589 81.5627 202.589 80.592C202.589 79.472 202.712 78.5173 202.957 77.728C203.202 76.928 203.538 76.2773 203.965 75.776C204.392 75.264 204.872 74.8907 205.405 74.656C205.949 74.4107 206.514 74.288 207.101 74.288C207.805 74.288 208.408 74.416 208.909 74.672C209.421 74.928 209.848 75.232 210.189 75.584L209.069 76.848C208.856 76.6027 208.584 76.4 208.253 76.24C207.922 76.08 207.581 76 207.229 76C206.738 76 206.285 76.144 205.869 76.432C205.464 76.72 205.138 77.2 204.893 77.872C204.648 78.5333 204.525 79.44 204.525 80.592C204.525 81.5413 204.621 82.3147 204.813 82.912C205.005 83.4987 205.266 83.9307 205.597 84.208C205.928 84.4853 206.301 84.624 206.717 84.624C207.048 84.624 207.341 84.5387 207.597 84.368C207.864 84.1973 208.072 83.952 208.221 83.632C208.381 83.3013 208.461 82.9067 208.461 82.448C208.461 81.9893 208.386 81.6107 208.237 81.312C208.088 81.0027 207.874 80.7733 207.597 80.624C207.33 80.4747 207.01 80.4 206.637 80.4C206.306 80.4 205.949 80.5067 205.565 80.72C205.192 80.9333 204.84 81.3013 204.509 81.824L204.429 80.352C204.653 80.0533 204.909 79.7973 205.197 79.584C205.496 79.36 205.805 79.1893 206.125 79.072C206.445 78.9547 206.744 78.896 207.021 78.896C207.682 78.896 208.264 79.024 208.765 79.28C209.277 79.536 209.672 79.9307 209.949 80.464C210.237 80.9867 210.381 81.648 210.381 82.448C210.381 83.2053 210.216 83.8667 209.885 84.432C209.554 84.9973 209.117 85.44 208.573 85.76C208.029 86.0693 207.426 86.224 206.765 86.224ZM215.71 86.224C214.921 86.224 214.233 85.9947 213.646 85.536C213.06 85.0667 212.606 84.3893 212.286 83.504C211.966 82.608 211.806 81.5093 211.806 80.208C211.806 78.9067 211.966 77.8187 212.286 76.944C212.606 76.0693 213.06 75.408 213.646 74.96C214.233 74.512 214.921 74.288 215.71 74.288C216.51 74.288 217.204 74.512 217.79 74.96C218.377 75.408 218.825 76.0693 219.134 76.944C219.454 77.8187 219.614 78.9067 219.614 80.208C219.614 81.5093 219.454 82.608 219.134 83.504C218.825 84.3893 218.377 85.0667 217.79 85.536C217.204 85.9947 216.51 86.224 215.71 86.224ZM215.71 84.56C216.084 84.56 216.414 84.4267 216.702 84.16C216.99 83.8827 217.214 83.424 217.374 82.784C217.545 82.144 217.63 81.2853 217.63 80.208C217.63 79.12 217.545 78.2667 217.374 77.648C217.214 77.0187 216.99 76.576 216.702 76.32C216.414 76.064 216.084 75.936 215.71 75.936C215.348 75.936 215.022 76.064 214.734 76.32C214.446 76.576 214.217 77.0187 214.046 77.648C213.876 78.2667 213.79 79.12 213.79 80.208C213.79 81.2853 213.876 82.144 214.046 82.784C214.217 83.424 214.446 83.8827 214.734 84.16C215.022 84.4267 215.348 84.56 215.71 84.56ZM221.696 86V84.288H224.272V76.768H222.128V75.456C222.704 75.3387 223.2 75.2053 223.616 75.056C224.042 74.9067 224.432 74.72 224.784 74.496H226.352V84.288H228.624V86H221.696Z"
                            fill="black"></path>
                        <path
                            d="M197.575 134.224C196.829 134.224 196.135 134.091 195.495 133.824C194.855 133.557 194.29 133.163 193.799 132.64C193.309 132.117 192.925 131.477 192.647 130.72C192.381 129.963 192.247 129.099 192.247 128.128C192.247 127.157 192.386 126.293 192.663 125.536C192.951 124.779 193.341 124.133 193.831 123.6C194.333 123.067 194.909 122.661 195.559 122.384C196.221 122.107 196.925 121.968 197.671 121.968C198.418 121.968 199.079 122.123 199.655 122.432C200.231 122.731 200.706 123.077 201.079 123.472L199.959 124.816C199.65 124.517 199.314 124.272 198.951 124.08C198.589 123.888 198.173 123.792 197.703 123.792C197.074 123.792 196.509 123.968 196.007 124.32C195.506 124.661 195.117 125.152 194.839 125.792C194.562 126.421 194.423 127.179 194.423 128.064C194.423 128.96 194.557 129.733 194.823 130.384C195.09 131.024 195.463 131.52 195.943 131.872C196.434 132.213 197.005 132.384 197.655 132.384C198.178 132.384 198.647 132.272 199.063 132.048C199.479 131.824 199.853 131.531 200.183 131.168L201.303 132.496C200.823 133.061 200.274 133.493 199.655 133.792C199.037 134.08 198.343 134.224 197.575 134.224ZM206.765 134.224C206.2 134.224 205.666 134.112 205.165 133.888C204.664 133.664 204.221 133.323 203.837 132.864C203.453 132.395 203.149 131.808 202.925 131.104C202.701 130.4 202.589 129.563 202.589 128.592C202.589 127.472 202.712 126.517 202.957 125.728C203.202 124.928 203.538 124.277 203.965 123.776C204.392 123.264 204.872 122.891 205.405 122.656C205.949 122.411 206.514 122.288 207.101 122.288C207.805 122.288 208.408 122.416 208.909 122.672C209.421 122.928 209.848 123.232 210.189 123.584L209.069 124.848C208.856 124.603 208.584 124.4 208.253 124.24C207.922 124.08 207.581 124 207.229 124C206.738 124 206.285 124.144 205.869 124.432C205.464 124.72 205.138 125.2 204.893 125.872C204.648 126.533 204.525 127.44 204.525 128.592C204.525 129.541 204.621 130.315 204.813 130.912C205.005 131.499 205.266 131.931 205.597 132.208C205.928 132.485 206.301 132.624 206.717 132.624C207.048 132.624 207.341 132.539 207.597 132.368C207.864 132.197 208.072 131.952 208.221 131.632C208.381 131.301 208.461 130.907 208.461 130.448C208.461 129.989 208.386 129.611 208.237 129.312C208.088 129.003 207.874 128.773 207.597 128.624C207.33 128.475 207.01 128.4 206.637 128.4C206.306 128.4 205.949 128.507 205.565 128.72C205.192 128.933 204.84 129.301 204.509 129.824L204.429 128.352C204.653 128.053 204.909 127.797 205.197 127.584C205.496 127.36 205.805 127.189 206.125 127.072C206.445 126.955 206.744 126.896 207.021 126.896C207.682 126.896 208.264 127.024 208.765 127.28C209.277 127.536 209.672 127.931 209.949 128.464C210.237 128.987 210.381 129.648 210.381 130.448C210.381 131.205 210.216 131.867 209.885 132.432C209.554 132.997 209.117 133.44 208.573 133.76C208.029 134.069 207.426 134.224 206.765 134.224ZM215.71 134.224C214.921 134.224 214.233 133.995 213.646 133.536C213.06 133.067 212.606 132.389 212.286 131.504C211.966 130.608 211.806 129.509 211.806 128.208C211.806 126.907 211.966 125.819 212.286 124.944C212.606 124.069 213.06 123.408 213.646 122.96C214.233 122.512 214.921 122.288 215.71 122.288C216.51 122.288 217.204 122.512 217.79 122.96C218.377 123.408 218.825 124.069 219.134 124.944C219.454 125.819 219.614 126.907 219.614 128.208C219.614 129.509 219.454 130.608 219.134 131.504C218.825 132.389 218.377 133.067 217.79 133.536C217.204 133.995 216.51 134.224 215.71 134.224ZM215.71 132.56C216.084 132.56 216.414 132.427 216.702 132.16C216.99 131.883 217.214 131.424 217.374 130.784C217.545 130.144 217.63 129.285 217.63 128.208C217.63 127.12 217.545 126.267 217.374 125.648C217.214 125.019 216.99 124.576 216.702 124.32C216.414 124.064 216.084 123.936 215.71 123.936C215.348 123.936 215.022 124.064 214.734 124.32C214.446 124.576 214.217 125.019 214.046 125.648C213.876 126.267 213.79 127.12 213.79 128.208C213.79 129.285 213.876 130.144 214.046 130.784C214.217 131.424 214.446 131.883 214.734 132.16C215.022 132.427 215.348 132.56 215.71 132.56ZM221.04 134V132.784C222.106 131.76 223.029 130.843 223.808 130.032C224.586 129.211 225.184 128.469 225.6 127.808C226.026 127.136 226.24 126.507 226.24 125.92C226.24 125.504 226.165 125.152 226.016 124.864C225.877 124.576 225.669 124.352 225.392 124.192C225.114 124.021 224.768 123.936 224.352 123.936C223.904 123.936 223.493 124.064 223.12 124.32C222.757 124.576 222.421 124.875 222.112 125.216L220.944 124.064C221.466 123.488 222.01 123.051 222.576 122.752C223.152 122.443 223.834 122.288 224.624 122.288C225.36 122.288 226 122.432 226.544 122.72C227.088 123.008 227.509 123.419 227.808 123.952C228.117 124.475 228.272 125.093 228.272 125.808C228.272 126.491 228.08 127.184 227.696 127.888C227.312 128.592 226.805 129.312 226.176 130.048C225.546 130.784 224.848 131.552 224.08 132.352C224.389 132.32 224.72 132.293 225.072 132.272C225.424 132.24 225.738 132.224 226.016 132.224H228.816V134H221.04Z"
                            fill="black"></path>
                        <path
                            d="M292.926 47V35.176H296.078C297.294 35.176 298.329 35.3947 299.182 35.832C300.046 36.2693 300.702 36.92 301.15 37.784C301.609 38.648 301.838 39.736 301.838 41.048C301.838 42.3493 301.609 43.4427 301.15 44.328C300.702 45.2133 300.057 45.88 299.214 46.328C298.371 46.776 297.363 47 296.19 47H292.926ZM295.038 45.288H295.934C296.723 45.288 297.395 45.1387 297.95 44.84C298.515 44.5307 298.942 44.0613 299.23 43.432C299.529 42.8027 299.678 42.008 299.678 41.048C299.678 40.0667 299.529 39.272 299.23 38.664C298.942 38.056 298.515 37.608 297.95 37.32C297.395 37.032 296.723 36.888 295.934 36.888H295.038V45.288ZM307.71 47.224C307.145 47.224 306.612 47.112 306.11 46.888C305.609 46.664 305.166 46.3227 304.782 45.864C304.398 45.3947 304.094 44.808 303.87 44.104C303.646 43.4 303.534 42.5627 303.534 41.592C303.534 40.472 303.657 39.5173 303.902 38.728C304.148 37.928 304.484 37.2773 304.91 36.776C305.337 36.264 305.817 35.8907 306.35 35.656C306.894 35.4107 307.46 35.288 308.046 35.288C308.75 35.288 309.353 35.416 309.854 35.672C310.366 35.928 310.793 36.232 311.134 36.584L310.014 37.848C309.801 37.6027 309.529 37.4 309.198 37.24C308.868 37.08 308.526 37 308.174 37C307.684 37 307.23 37.144 306.814 37.432C306.409 37.72 306.084 38.2 305.838 38.872C305.593 39.5333 305.47 40.44 305.47 41.592C305.47 42.5413 305.566 43.3147 305.758 43.912C305.95 44.4987 306.212 44.9307 306.542 45.208C306.873 45.4853 307.246 45.624 307.662 45.624C307.993 45.624 308.286 45.5387 308.542 45.368C308.809 45.1973 309.017 44.952 309.166 44.632C309.326 44.3013 309.406 43.9067 309.406 43.448C309.406 42.9893 309.332 42.6107 309.182 42.312C309.033 42.0027 308.82 41.7733 308.542 41.624C308.276 41.4747 307.956 41.4 307.582 41.4C307.252 41.4 306.894 41.5067 306.51 41.72C306.137 41.9333 305.785 42.3013 305.454 42.824L305.374 41.352C305.598 41.0533 305.854 40.7973 306.142 40.584C306.441 40.36 306.75 40.1893 307.07 40.072C307.39 39.9547 307.689 39.896 307.966 39.896C308.628 39.896 309.209 40.024 309.71 40.28C310.222 40.536 310.617 40.9307 310.894 41.464C311.182 41.9867 311.326 42.648 311.326 43.448C311.326 44.2053 311.161 44.8667 310.83 45.432C310.5 45.9973 310.062 46.44 309.518 46.76C308.974 47.0693 308.372 47.224 307.71 47.224ZM316.656 47.224C315.866 47.224 315.178 46.9947 314.592 46.536C314.005 46.0667 313.552 45.3893 313.232 44.504C312.912 43.608 312.752 42.5093 312.752 41.208C312.752 39.9067 312.912 38.8187 313.232 37.944C313.552 37.0693 314.005 36.408 314.592 35.96C315.178 35.512 315.866 35.288 316.656 35.288C317.456 35.288 318.149 35.512 318.736 35.96C319.322 36.408 319.77 37.0693 320.08 37.944C320.4 38.8187 320.56 39.9067 320.56 41.208C320.56 42.5093 320.4 43.608 320.08 44.504C319.77 45.3893 319.322 46.0667 318.736 46.536C318.149 46.9947 317.456 47.224 316.656 47.224ZM316.656 45.56C317.029 45.56 317.36 45.4267 317.648 45.16C317.936 44.8827 318.16 44.424 318.32 43.784C318.49 43.144 318.576 42.2853 318.576 41.208C318.576 40.12 318.49 39.2667 318.32 38.648C318.16 38.0187 317.936 37.576 317.648 37.32C317.36 37.064 317.029 36.936 316.656 36.936C316.293 36.936 315.968 37.064 315.68 37.32C315.392 37.576 315.162 38.0187 314.992 38.648C314.821 39.2667 314.736 40.12 314.736 41.208C314.736 42.2853 314.821 43.144 314.992 43.784C315.162 44.424 315.392 44.8827 315.68 45.16C315.968 45.4267 316.293 45.56 316.656 45.56ZM322.641 47V45.288H325.217V37.768H323.073V36.456C323.649 36.3387 324.145 36.2053 324.561 36.056C324.988 35.9067 325.377 35.72 325.729 35.496H327.297V45.288H329.569V47H322.641Z"
                            fill="black"></path>
                    </svg>
                </div>
                <div class="date-container">
                    <input type="date" name="" id="date" />
                    <h3>選擇時段</h3>
                    <div class="floor-container">
                        <svg id="floor-up" width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1244 0L24.2487 21H0L12.1244 0Z" fill="white"></path>
                        </svg>
                        <svg id="floor-down" xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21" fill="none">
                            <path d="M12.1244 21L0 0L24.2487 2.11989e-06L12.1244 21Z" fill="white"></path>
                        </svg>
                    </div>
                </div>
                <div class="time-container box">
                    <div class="rooms" id="rooms-container"></div>
                    <button class="btn to" data-link="confirm">下一步</button>
                </div>
            </section>
            <section id="confirm">
                <div class="box">
                    <h2>訂房確認</h2>
                    <h3>房間／時段</h3>
                    <p id="confirm-time">5/12 11:00~12:00<br />5/12 11:00~12:00</p>
                    <h3>參與者</h3>
                    <label for="add-student">添加學號</label>
                    <input type="text" id="add-student" />
                    <label for="friends">歷史好朋友</label>
                    <div id="friends">
                        <button class="friend" id="114550020">毛宥鈞<span>1145500000</span></button>
                        <button class="friend" id="114550020">毛宥鈞<span>1145500000</span></button>
                        <button class="friend" id="114550020">毛宥鈞<span>1145500000</span></button>
                        <button class="friend" id="114550020">毛宥鈞<span>1145500000</span></button>
                        <button class="friend" id="114550020">毛宥鈞<span>1145500000</span></button>
                    </div>
                    <div class="actions">
                        <button class="btn to" data-link="time">返回</button>
                        <button class="btn to" data-link="result">確認開房</button>
                    </div>
                </div>
            </section>
            <section id="result">
                <div class="box">
                    <h2>訂房成功</h2>
                    <h3>房間／時段</h3>
                    <p id="success-time">5/12 11:00~12:00<br />5/12 11:00~12:00</p>
                    <h3>參與者</h3>
                    <p>毛宥鈞 1145500000<br />毛宥鈞 1145500000<br />毛宥鈞 1145500000</p>
                    <div class="actions">
                        <button class="btn to" data-link="home">回首頁</button>
                        <button class="btn">前往圖書館系統</button>
                    </div>
                </div>
            </section>
        </main>
        <footer><a href="https://elvismao.com/" target="_blank">毛哥EM</a>製作</footer>
        <script>
            // Navigation
            const main = document.querySelector("main");
            const toButtons = document.querySelectorAll(".to");
            const sections = document.querySelectorAll("main section");
            toButtons.forEach(button => {
                button.addEventListener("click", () => {
                    const targetId = button.getAttribute("data-link");
                    main.classList = targetId;
                });
            });

            // press h1 for refresh page
            const title = document.querySelector("nav>div");
            title.addEventListener("click", () => {
                location.reload();
            });

            // Floor switching
            const floors = [
                { id: "2F", rooms: ["D203", "D202", "D201"] },
                { id: "5F", rooms: ["501"] },
                { id: "6F", rooms: ["D601", "D602", "C601", "C602", "C603", "C604"] }
            ];
            let currentFloorIndex = 0;

            const floorUpBtn = document.getElementById("floor-up");
            const floorDownBtn = document.getElementById("floor-down");
            const imageContainer = document.querySelector(".image-container");
            const roomsContainer = document.getElementById("rooms-container");

            const timeSlots = ["08:00~08:30", "08:30~09:00", "09:00~09:30", "09:30~10:00", "10:00~10:30", "10:30~11:00", "11:00~11:30", "11:30~12:00", "12:00~12:30", "12:30~13:00", "13:00~13:30", "13:30~14:00", "14:00~14:30", "14:30~15:00", "15:00~15:30", "15:30~16:00", "16:00~16:30", "16:30~17:00", "17:00~17:30", "17:30~18:00", "18:00~18:30", "18:30~19:00", "19:00~19:30", "19:30~20:00", "20:00~20:30", "20:30~21:00", "21:00~21:30", "21:30~22:00"];

            function updateFloorDisplay(direction = "none") {
                const currentFloor = floors[currentFloorIndex];
                const floorMaps = document.querySelectorAll(".floor-map");

                // Hide all floor maps
                floorMaps.forEach(map => {
                    map.classList.remove("active", "fade-in-up", "fade-in-down");
                });

                // Show current floor map with animation
                const currentMap = document.getElementById(`map-${currentFloor.id}`);
                if (currentMap) {
                    currentMap.classList.add("active");
                    if (direction === "up") {
                        currentMap.classList.add("fade-in-up");
                    } else if (direction === "down") {
                        currentMap.classList.add("fade-in-down");
                    }
                }

                // Update rooms
                roomsContainer.innerHTML = "";
                currentFloor.rooms.forEach(roomName => {
                    const roomDiv = document.createElement("div");
                    roomDiv.className = "room";
                    roomDiv.dataset.room = roomName;

                    const nameDiv = document.createElement("div");
                    nameDiv.className = "room-name";
                    nameDiv.textContent = roomName;
                    roomDiv.appendChild(nameDiv);

                    timeSlots.forEach(time => {
                        const button = document.createElement("button");
                        button.className = "time-slot";
                        button.dataset.time = time;
                        button.textContent = time;
                        button.addEventListener("click", toggleTimeSlot);
                        roomDiv.appendChild(button);
                    });

                    roomsContainer.appendChild(roomDiv);
                });
            }

            floorUpBtn.addEventListener("click", () => {
                if (currentFloorIndex < floors.length - 1) {
                    currentFloorIndex++;
                    updateFloorDisplay("up");
                    updateButtonStates();
                }
            });

            floorDownBtn.addEventListener("click", () => {
                if (currentFloorIndex > 0) {
                    currentFloorIndex--;
                    updateFloorDisplay("down");
                    updateButtonStates();
                }
            });

            function updateButtonStates() {
                if (currentFloorIndex >= floors.length - 1) {
                    floorUpBtn.classList.add("disabled");
                } else {
                    floorUpBtn.classList.remove("disabled");
                }

                if (currentFloorIndex <= 0) {
                    floorDownBtn.classList.add("disabled");
                } else {
                    floorDownBtn.classList.remove("disabled");
                }
            }

            // Initialize button states and first floor
            updateButtonStates();
            updateFloorDisplay();

            // Set initial floor as active
            const initialMap = document.getElementById("map-2F");
            if (initialMap) {
                initialMap.classList.add("active");
            }

            // Time slot selection
            function toggleTimeSlot(e) {
                e.target.classList.toggle("selected");
            }

            // Add click listeners to initial time slots
            document.querySelectorAll(".time-slot").forEach(slot => {
                slot.addEventListener("click", toggleTimeSlot);
            });

            // select date of today
            const dateInput = document.getElementById("date") as HTMLInputElement;
            const today = new Date().toISOString().split("T")[0];
            dateInput.value = today;
        </script>
    </body>
</html>
