@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #00298f;
    min-width: 320px;
    font-family: "Noto Sans", sans-serif;
    color: #fff;
}
