:root {
    --primary: #0033a0;
    --sliver: #8a8d8f;
    --black: #1b1b1b;
    --white: #ffffff;
    --max-width: 400px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #00298f;
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-height: 100svh;
}

nav {
    background: #001f6b;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: var(--white);
    width: 100%;
}

nav > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    max-width: var(--max-width);
    cursor: pointer;
}

nav img {
    width: 1.6875rem;
    height: 1.5625rem;
}

h1 {
    font-size: 1.25rem;
}

main {
    flex: 1;
    position: relative;
    text-align: center;
    max-width: var(--max-width);
    width: 100%;
}

footer {
    padding: 1rem;
    text-align: center;
    color: var(--white);
}

section {
    position: absolute;
    inset: 0;
    opacity: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.home #home,
.reminder #reminder,
.time #time,
.confirm #confirm,
.result #result {
    opacity: 1;
    pointer-events: all;
}

a {
    color: inherit;
}

button {
    font-family: inherit;
}

.box {
    background-color: var(--white);
    padding: 2rem;
}

.btn,
input[type="date"] {
    background: var(--primary);
    border: none;
    color: var(--white);
    padding: 0.25rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

input[type="date"] {
    padding: 0;
    background-color: #0f45cc;
    font-family: inherit;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid var(--sliver);
}

ol {
    list-style: inside disc;
    text-align: left;
    margin-block: 2rem;
    text-align: left;
}

#home .link {
    background: transparent;
    border: none;
    color: var(--primary);
    padding-top: 2rem;
    cursor: pointer;
    display: block;
    margin: auto;
}

#home .box {
    padding-top: 5rem;
}

#home p {
    color: #ba0303;
    margin-block: 1rem;
}

.image-container {
    position: relative;
    width: fit-content;
    margin: 1rem auto 1rem;
}

.image-container,
.image-container svg {
    height: 148px;
    max-width: 100%;
}

.image-container svg {
    position: absolute;
    top: 0;
    left: 0;
}

.image-container svg:first-child {
    position: static;
}

.date-container {
    position: relative;
    margin-block: 0.5rem;
    color: var(--white);
}

.date-container h3 {
    border: none;
    padding: 0;
    margin-bottom: 0;
}

#date,
.floor-container {
    position: absolute;
    bottom: 0;
}

#date {
    left: 0;
}

.floor-container {
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.floor-container svg {
    cursor: pointer;
}

.floor-container svg:hover {
    filter: brightness(0.8);
}

.time-container {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
}

.rooms {
    flex: 1;
    display: flex;
    gap: 0.5rem;
    overflow: auto;
    margin-bottom: 1rem;
}

.time-slot {
    border-bottom: 1px solid #bdbdbd;
    background: #a7a7a7;
    color: var(--white);
    padding: 5px 4px;
    line-height: 1;
    font-family: sans-serif;
}

label {
    display: block;
}

h3 {
    font-size: 1rem;
    border-bottom: 1px solid var(--sliver);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

#add-student {
    background-color: #eee;
    border: none;
    padding: 0.5rem 1rem;
}
