*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s linear;
}

:root {
    color-scheme: light dark;
  }

  
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    margin: 0 auto;
    padding: 0 1rem;
    height: 100vh;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    margin-left: 4em;
 
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    animation: title 2s forwards;
}

h2{
    font-size: 0rem;
    font-weight: 600;
    animation: title2 1s forwards;
    animation-delay: 1s;
}

.balls {
    flex-grow: 1;
    position: relative;
    filter: blur(50px);
    transform: rotate(5deg);
}

.ball {
    width: 30vw;
    height: 30vw;
    background-color: #22c1c3;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;
}

#ballB {
    background-color: #feca57;
    animation-delay: 0.2s;
    left: 75%;
}

#card{
    position: fixed;
    left: 75%;
    top: 100vh;
    z-index: 10;
    transform: translate(-50%, -50%)  rotateX(10deg) rotateY(-20deg);
    width: 30vw;
    height: 20vw;
    max-width: calc(100vw - 4rem);
    max-height: calc(100vh - 4rem);
    background: linear-gradient( to bottom right, rgba(255, 255, 255, 0.6), rgba(233, 233, 233, 0.1) );
    backdrop-filter: blur(12px);
    border-radius: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    animation: fadeInBottom 1s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

#all{
    opacity: 0;
}
@keyframes title {
    0% {
        transform: translateX(-50px);
    }

    50% {
        transform: translateX(0px);
        font-size: 4rem;
    }

    100% {
        font-size: 3rem;
    }
}

@keyframes title2 {
    0% {
        font-size: 0rem;
    }
    100% {
        font-size: 4rem;
    }
}

@keyframes fadeInBottom {
to{
    top:50vh;
}
}