@font-face {
    font-family: "San Francisco";
    src: local("San Francisco"), url("SF-Pro-Display-Regular.otf")
}

@font-face {
    font-family: "San Francisco Rounded";
    src: local("San Francisco Rounded"), url("SF-Pro-Rounded.ttf")
}

:root {
    --main-color: #FFFFFF
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-property: color, scale, border-radius;
    transition-duration: .3s;
    user-select: none
}

body {
    background-color: #d1d1d1;
    color: #fff;
    font-size: 5vw;
    font-family: "San Francisco Rounded", "Comic Sans", "Comic Sans MS", Chalkboard, ChalkboardSE-Regular, sans-serif
}

main,
main>section,
td,
th,
tr {
    display: flex
}

.digit,
h1,
h2,
h3,
td,
th {
    color: var(--main-color);
    text-align: center
}

.clock,
td,
th {
    border-radius: 50%
}

.uiFont {
    font-family: -apple-system, "San Francisco", system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main {
    height: 100svh;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    overflow: auto;
    transition: .3s;
    background-color: #212121;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.setting section {
    scale: 0.8;
    border-radius: 2rem
}

main>section {
    background-color: #000;
    flex: none;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    justify-content: space-around;
    align-items: center;
    overflow: hidden
}

.column {
    flex-flow: column nowrap
}

h1 {
    font-size: 2.5em;
    line-height: 1.4;
    background: -webkit-linear-gradient(0deg, #be22ff, #ff279c, #ff981f, #be22ff, #ff279c, #ff981f, #be22ff, #ff279c, #ff981f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    -webkit-animation: 20s linear infinite AnimationName;
    -moz-animation: 20s linear infinite AnimationName;
    animation: 20s linear infinite AnimationName
}

@keyframes AnimationName {

    0%,
    100% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }
}

h2 {
    font-size: .7em
}

h3 {
    margin-top: .3em;
    font-size: .3em
}

/* !header */
#header {
    position: relative;
}

nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

button {
    backdrop-filter: blur(3px);
    background-color: #262626;
    border: .1rem solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 600ms, border-color 600ms;
    color: #FFF;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-family: "San Francisco Rounded", "Comic Sans", "Comic Sans MS", Chalkboard, ChalkboardSE-Regular, sans-serif
}

button:hover {
    background-color: #2e2e2e;
    border: .1rem solid rgba(255, 255, 255, 0.415);
}

/* !time */
#time {
    background: #000;
    position: relative
}

.time {
    z-index: 2;
    mix-blend-mode: plus-lighter;
    font-size: 6em;
    color: #ffffffff;
    font-weight: 600
}

.timeBg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 0 0;
    filter: hue-rotate(-50deg) brightness(1.5);
    z-index: 1
}

#color,
.clock {
    position: relative
}

td,
th {
    font-size: .55em;
    padding: .06em;
    width: 5vw;
    height: 5vw;
    justify-content: center;
    align-items: center
}

.weekend {
    color: gray
}

#callenderMonth {
    color: red;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .8em;
    margin-left: .4em
}

.clock {
    width: 7em;
    height: 7em;
    --s: .35em;
    --o: 0px;
    --w: .1deg;
    --n: 60;
    --c: rgb(136, 136, 136);
    --w5: .1deg;
    --n5: 12;
    --c5: rgb(255, 255, 255)
}

.clockCenter,
.clockCenterCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: .45em;
    height: .45em;
    background: #ffaf3f;
    border: .1em solid #fff;
    border-radius: 50%;
    display: block
}

.clockCenterCenter {
    background: #000;
    border: none;
    width: .15em;
    height: .15em;
    z-index: 10
}

.clock::after,
.clock::before {
    transform: rotate(.98deg);
    content: "";
    position: absolute;
    top: calc(-1*var(--s) - var(--o));
    bottom: calc(-1*var(--s) - var(--o));
    left: calc(-1*var(--s) - var(--o));
    right: calc(-1*var(--s) - var(--o));
    border-radius: inherit;
    background: repeating-conic-gradient(from calc(-1*var(--w)/ 2), var(--c) 0 calc(var(--w) - 2deg), transparent calc(var(--w)) calc(360deg/var(--n) - 2deg), var(--c) calc(360deg/var(--n))), repeating-conic-gradient(from calc(-1*var(--w)/ 2), var(--c) 0 calc(var(--w) - 2deg), transparent calc(var(--w)) calc(360deg/var(--n) - 2deg), var(--c) calc(360deg/var(--n))), repeating-conic-gradient(from calc(-1*var(--w)/ 2), var(--c) 0 calc(var(--w) - 2deg), transparent calc(var(--w)) calc(360deg/var(--n) - 2deg), var(--c) calc(360deg/var(--n))), repeating-conic-gradient(from calc(-1*var(--w)/ 2), var(--c) 0 calc(var(--w) - 2deg), transparent calc(var(--w)) calc(360deg/var(--n) - 2deg), var(--c) calc(360deg/var(--n))), repeating-conic-gradient(from calc(-1*var(--w)/ 2), var(--c) 0 calc(var(--w) - 2deg), transparent calc(var(--w)) calc(360deg/var(--n) - 2deg), var(--c) calc(360deg/var(--n))), repeating-conic-gradient(from calc(-1*var(--w)/ 2), var(--c) 0 calc(var(--w) - 2deg), transparent calc(var(--w)) calc(360deg/var(--n) - 2deg), var(--c) calc(360deg/var(--n)));
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - var(--s)), #fff calc(100% - var(--s)));
    mask: radial-gradient(farthest-side, transparent calc(100% - var(--s)), #fff calc(100% - var(--s)))
}

.clock::after {
    background: repeating-conic-gradient(from calc(-1*var(--w5)/ 2), var(--c5) 0 calc(var(--w5) - 2deg), transparent calc(var(--w5)) calc(360deg/var(--n5) - 2deg), var(--c5) calc(360deg/var(--n5))), repeating-conic-gradient(from calc(-1*var(--w5)/ 2), var(--c5) 0 calc(var(--w5) - 2deg), transparent calc(var(--w5)) calc(360deg/var(--n5) - 2deg), var(--c5) calc(360deg/var(--n5))), repeating-conic-gradient(from calc(-1*var(--w5)/ 2), var(--c5) 0 calc(var(--w5) - 2deg), transparent calc(var(--w5)) calc(360deg/var(--n5) - 2deg), var(--c5) calc(360deg/var(--n5))), repeating-conic-gradient(from calc(-1*var(--w5)/ 2), var(--c5) 0 calc(var(--w5) - 2deg), transparent calc(var(--w5)) calc(360deg/var(--n5) - 2deg), var(--c5) calc(360deg/var(--n5))), repeating-conic-gradient(from calc(-1*var(--w5)/ 2), var(--c5) 0 calc(var(--w5) - 2deg), transparent calc(var(--w5)) calc(360deg/var(--n5) - 2deg), var(--c5) calc(360deg/var(--n5))), repeating-conic-gradient(from calc(-1*var(--w5)/ 2), var(--c5) 0 calc(var(--w5) - 2deg), transparent calc(var(--w5)) calc(360deg/var(--n5) - 2deg), var(--c5) calc(360deg/var(--n5)));
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - var(--s)), #fff calc(100% - var(--s)));
    mask: radial-gradient(farthest-side, transparent calc(100% - var(--s)), #fff calc(100% - var(--s)))
}

.hour-hand,
.minute-hand,
.second-hand {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform-origin: top center
}

#color::after,
.digit {
    position: absolute;
    transform: translate(-50%, -50%)
}

.hour-hand,
.minute-hand {
    width: 10px;
    height: 27%;
    margin-left: -5px;
    border-radius: 5px
}

.minute-hand {
    height: 46%
}

.hour-hand::after,
.minute-hand::after {
    transform: translateY(-.7em);
    display: block;
    content: "";
    width: 2px;
    margin-left: 33.333333%;
    height: 40%;
    background-color: #fff
}

.second-hand {
    width: 2px;
    height: 65%;
    margin-left: -1px;
    background-color: #ffaf3f;
    border-radius: 2px 2px 0 0;
    z-index: 2;
    transition: transform .2s
}

.digit {
    top: calc(50% - .5em);
    left: calc(50% - .5em);
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: .8em;
    color: var(--main-color);
    transform: rotate(calc(var(--deg) * 1deg)) translateY(-3.5em);
    transform-origin: center center
}

/* !image */

#image {
    padding: 1rem;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.image-time {
    mix-blend-mode: plus-lighter;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 2em;
}

.box {
    text-align: right;
}

.author {
    font-size: 1.2em;
    transform: scaleY(0.8);
}

.caption {
    font-size: 0.5em;
    line-height: 1em;
}

.caption a {
    color: #e2e2e2c4;
    text-decoration: none;
}

.caption span {
    transition: all 0.3s;
   display: inline-block;
}
a:hover span {
    transform: translateX(.1em);
}
/* !music */
#music{
    background-image: url(https://i1.sndcdn.com/artworks-joPz3SL4l6GWVX00-dl2csw-t500x500.jpg);
    background-size: cover;
    background-position: center;
}
#music > div{
    backdrop-filter: blur(1em);
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* !color picker */
.color-picker,
.progress-bar {
    position: fixed;
    transition: .3s
}

.digit::before {
    content: attr(data-digit);
    display: block;
    transform: rotate(calc(var(--deg) * -1deg))
}

.color-picker {
    flex-wrap: wrap;
    justify-content: center;
    bottom: -2.5vmax;
    left: 0;
    width: 100%;
    opacity: 0;
    display: flex
}

.setting .color-picker {
    z-index: 5;
    opacity: 1;
    bottom: .15em
}

.color-picker .color-option {
    width: 2.5vmax;
    height: 2.5vmax;
    margin: 1vmax;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 1vmax #00000062;
    overflow: hidden
}

.color-picker input[type=color] {
    display: block;
    border: none;
    width: 5vw;
    height: 5vw;
    outline: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%)
}

.setting .progress-bar {
    right: 5%
}

.progress-bar {
    top: 50%;
    transform: translateY(-50%);
    right: -2rem
}

.progress {
    z-index: 5;
    width: .5rem;
    height: .5rem;
    margin: 1vmax;
    border-radius: 50%;
    background-color: #646464;
    box-shadow: 0 0 3px rgba(0, 0, 0);
    transition: .3s
}

.now {
    background-color: #FFF;
}

#color::after {
    content: "+";
    font-size: .5em;
    top: 50%;
    left: 50%;
    pointer-events: none
}

main::-webkit-scrollbar {
    display: none
}