/** @format */

main {
    margin: auto;
    max-width: 1532px;
    width: 100%;
    padding: 25vh min(84px, 5vw) 0;
    line-height: 1.5;
}

main .largeName {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.5px;
}

main .largeName,
.largeName + h2,
h2 + p {
    opacity: 0;
    transition: 0.3s ease-out;
}

.largeName.ed,
h2.ed,
h2 + p.ed {
    opacity: 1;
}
main .largeName + h2 {
    transition-delay: 0.2s;
}

h2 + p {
    transition-delay: 0.4s;
}

main .largeName + h2 + p {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 3rem;
    max-width: 800px;
}

p {
    margin-top: 1rem;
}

h2 {
    margin-top: 2rem;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 0.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #c4c4c4;
    text-transform: uppercase;
}

main .largeName + h2 {
    letter-spacing: normal;
    border: none;
    margin-bottom: 1rem;
    color: #f0f0f0;
}

.skill {
    display: flex;
    flex-wrap: wrap;
    padding: 1.3rem 0;
    position: relative;
    gap: 2rem;
}

.skill > div {
    flex: 1;
    line-height: 2;
}

.skill h3 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.skill li {
    list-style-type: none;
}
.top {
    position: relative;
    z-index: 2;
}
.em {
    position: absolute;
    filter: grayscale(0.5) brightness(73%) contrast(192%);
    bottom: 1px;
    right: 0;
    z-index: -1;
    max-width: max(50vw, 30rem);
    height: 30rem;
}
.emSitcon {
    margin: auto;
}
.emSitcon img {
    max-width: 100%;
    width: 30rem;
}

ul {
    margin: 1rem;
}
li {
    color: #e5e5e5;
    opacity: 0;
    transform: translateY(1rem);
}

li.ed {
    opacity: 1;
    transform: translateY(0);
    transition: 0.3s ease-out;
}

ul li {
    margin: 0.5rem;
}
main span {
    color: #999;
    font-style: italic;
}

nav {
    background-color: #0000003b;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
main a {
    text-decoration: none;
    position: relative;
}

main a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
}

main a:hover::after {
    transform: scaleX(1);
}

.education {
    width: 100%;
    padding-block: 2rem;
    position: relative;
    margin-top: 2rem;
    margin-bottom: -1rem;
}

.education::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, #000, #fff 10%, #fff 80%, #000);
    margin: 1rem 0;
}
.education .school:nth-child(odd) {
    padding-right: calc(50% + 2rem);
    text-align: right;
    transform: translateX(2rem);
}
.education .school:nth-child(even) {
    padding-left: calc(50% + 2rem);
    transform: translateX(-2rem);
}
.school {
    position: relative;
    opacity: 0;
    transition: 0.5s ease-out;
}
.education .school.ed {
    opacity: 1;
    transform: none;
}
.school::after {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    opacity: 0;
}
.school:nth-child(odd)::after {
    background: linear-gradient(90deg, #000, #fff);
}
.school:nth-child(even)::after {
    background: linear-gradient(270deg, #000, #fff);
    transform: translate(0%, -50%);
}
.school p {
    margin-top: 0;
    color: #999;
}
.speaker {
    padding-top: 2rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.github {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-block: 5rem;
    width: 100%;
}
.github img {
    height: 200px;
    max-width: 100%;
}
footer {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .social-links {
    margin-top: 0 !important;
    margin: 0;
}
.social-links img {
    height: 1.5rem;
}
.fridge a::after {
    display: none;
}
.fridge a {
    transition: 0.3s;
}
.fridge a:hover {
    scale: 1.1;
    filter: none;
}
.fridge img:hover {
    filter: none;
}
.fridge img {
    height: 5rem;
    filter: grayscale(0.5);
    transition: 0.3s;
}

.fridge-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 8rem;
    margin-bottom: 2rem;
}
.fridge-container::after {
    content: "";
    display: block;
    width: calc(100% + 2rem);
    height: 100%;
    background: linear-gradient(90deg, #000 1rem, rgba(0, 0, 0, 0) 4em, rgba(0, 0, 0, 0) calc(100% - 4em), #000 calc(100% - 1em));
    position: absolute;
    top: 0;
    left: -1rem;
    pointer-events: none;
}
.fridge-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    animation: marquee 40s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
}
.fridge-list:hover {
    animation-play-state: paused;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

#speaker {
    margin-top: 3rem;
}

@media (max-width: 50rem) {
    /* .skill {
        flex-direction: column;
    } */
    .em {
        opacity: 0.6;
    }
    .github img {
        height: unset;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .social-links {
        margin-bottom: 0.4rem;
    }
    .speaker {
        flex-direction: column;
        gap: 2rem;
    }
}
h1 {
    display: none;
}
