/** @format */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@700&display=swap");
@import "https://fonts.googleapis.com/css2?family=Audiowide&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: black;
    font-family: "Audiowide", "Noto Sans TC", "Noto Sans SC", "Courier New", Courier, monospace, system-ui;
    color: #fff;
    --t: 0;
}

body {
    overflow-x: hidden;
    transition: 0.3s ease-out;
    opacity: 0;
}
a {
    color: #fff;
}

#awwwards {
    position: absolute;
    z-index: 999;
    transform: translateY(-50%);
    top: 52%;
    left: 0;
}

.socials {
    position: relative;
    z-index: 2;
}

@media (max-width: 1100px) {
    #awwwards {
        top: unset;
        bottom: 0rem;
        left: -27px;
        transform: rotate(90deg);
        transform-origin: right bottom;
    }
}
